[2015-11-06 20:20] c055 commented on #459
- [x] Account > Membership - 2nd Button - Subscribtion > Subscriction
- [x] Title "My Favourite Markets" change to "My Favorite Markets" on the trade page.
- [x] Below that on the Trade Page, is the word "Filter", the word Filter is written in two different fonts
- [x] Explore > Blockchain page wrong 2nd graph title - TRX/BLOCK
- [x] Explore > Blockchain AVG CONF. TIME - Spelled out

[2015-11-07 08:14] kenCode-de opened #461 "Where are the candlesticks?"
Candlesticks are supposed to indicate the trading range line, the open and closing price, right?

Currently they look like a 1 pixel line that my (less than perfect) eyes can see.

Please make the candlesticks look like candlesticks.

[2015-11-07 14:01] valzav commented on #282
https://github.com/eligrey/FileSaver.js/pull/175

[2015-11-07 15:32] #391 closed, assigned to svk31

[2015-11-07 19:49] c055 opened #462 "[Asset Update] - Modal Freeze after clicking confirmation button"
![screenshot](https://cloud.githubusercontent.com/assets/6280810/11016965/f3ebcc92-8590-11e5-8f3d-ce426d83adf0.png)

[2015-11-07 19:54] c055 opened #463 "Witnesses + Committee Page > Filter Inputs doesn't work!"
Not fillable …

[2015-11-07 19:59] c055 commented on #463
Mh Witness filtering seems to work now (strange) but committee filter is still not usable ..

[2015-11-07 21:04] wmbutler commented on #457
Will do. Personally, I'd prefer to handle the gateway / deposit in an altogether different way. I'd like to propose a design for this in the next day or two. Maybe it'll make more sense after I post it. The basic gist is that our end users should be able to bring in funds natively or convert them while bringing them in and this should be a single operation that is clearly explained so users unders

[2015-11-07 21:31] #441 closed, assigned to svk31

[2015-11-07 22:22] wmbutler commented on #282
I think we need a bit more dialog on this issue. @valzav was your link a proposal for leaving it as is as a compromise? With everything on the table I'd suggest we push this to December and ask our users to use Chrome and Firefox for now. @arslanmito would you be good with that?

[2015-11-07 22:29] wmbutler opened #464 "Custom Market sort order"
The discussion took place in #458 but the idea is to carve out the custom sort into this issue since it will be more complicated.

Sort manually, when clicking "customize" button: users can arrange market list order

[2015-11-07 22:30] wmbutler commented on #458
I think we should break manual sorting into a separate issue. It will take significantly longer to do and would delay getting the other pieces completed. I'll open a new issue called Custom market sort order.

#464 will handle point 3
#448 addresses points 1 and 2

Closing this as a duplicate.

[2015-11-07 22:31] #458 closed, assigned to nobody

[2015-11-07 22:34] wmbutler commented on #216
OK, putting it in December.

[2015-11-08 00:36] wmbutler opened #465 "Deposit/Withdraw UX concept"
The deposit/withdraw functionality of the current wallet is functional, however, it hides important information that is necessary for new users to gain comfort. This is a particularly critical time for our interaction with the client. We have the benefit of knowing that they have a $0 balance when they first create their wallet and we should customize the UX to make it easy for them. The sentence:

[2015-11-08 00:37] wmbutler commented on #465
![screen shot 2015-11-07 at 8 51 05 pm](https://cloud.githubusercontent.com/assets/1254810/11018297/6af1f9c4-8591-11e5-959a-a27118d10b14.png)

![screen shot 2015-11-07 at 7 23 19 pm](https://cloud.githubusercontent.com/assets/1254810/11018115/eca04508-8586-11e5-8638-0ac2b5bb79af.png)

[2015-11-08 01:32] wmbutler commented on #465
And the withdraw screen would look like this:

![screen shot 2015-11-20 at 3 57 41 pm](https://cloud.githubusercontent.com/assets/1254810/11311709/792f0ac8-8f9f-11e5-9b32-e92d6668ee83.png)

[2015-11-08 01:38] wmbutler commented on #457
Deposit/Withdraw was UX'd as issue #465. Renaming this this to Buy/Sell BTS

[2015-11-08 01:40] clayop commented on #465
Good.
But instead of a long paragraph, I prefer simple expression like Coinbase, especially for non-English speaking users.

E.g. in your withdraw screenshot, the paragraph can be simplified as follows,

(Amount: 2.3 OPENBTC) - duplicated with AMOUNT TO WITHDRAW
Fee: 0.015 OPENBTC
Total Payout: 2.285 BTC

[2015-11-08 01:48] wmbutler commented on #465
I agree. Updated the UX accordingly.

[2015-11-08 01:51] clayop commented on #465
@wmbutler Thanks! Please do the same on deposit menu too.

e.g.

Gateway: Open Ledger
Amount: 2.3 BTC
Fee: 0.015 BTC
Total: 2.285 OPENBTC

[2015-11-08 01:52] wmbutler commented on #465
yep, all updated.

[2015-11-08 04:38] wmbutler commented on #457
OK, here is an initial proposal for Buy / Sell BTS. This has a lot of moving parts but I think it could be a solid revenue generator. Essentially, what's happening with this is that, much like Coinbase, we would be removing the confusion of the trading platform for people who just want to acquire BTS. The fees are higher, but it's because we can essentially guarantee the trade. This will work equa

[2015-11-08 04:42] wmbutler commented on #457
![screen shot 2015-11-08 at 12 13 50 am](https://cloud.githubusercontent.com/assets/1254810/11018916/a0751844-85ad-11e5-93fa-184477e1edda.png)

[2015-11-08 04:54] clayop commented on #457
+1
Is "59,400 BTS (USD 693.00)" correct?

[2015-11-08 05:14] wmbutler commented on #457
Yes. updated.

[2015-11-08 07:32] clayop opened #466 "Advanced Chart Index"
According to a day trader, additional chart index is attractive feature for traders.
He asked to add some basic index (there are tens of auxiliary index, see https://tradeblock.com/markets/bfnx/xbt-usd/2h  "Technical") into BitShares DEX. These features can be chosen in "Advanced" button (See poloniex's gear button)

The list is as following:
- [x] RSI
- [x] SMA Period
- [x] Average True Range
- [

[2015-11-08 09:03] clayop commented on #465
One more thing. Transfer fee is also considered in the calculation.

[2015-11-08 12:30] #462 closed, assigned to svk31

[2015-11-08 15:16] #345 closed, assigned to nobody

[2015-11-08 15:16] #354 closed, assigned to nobody

[2015-11-08 15:42] #319 closed, assigned to jcalfee

[2015-11-08 15:56] wmbutler commented on #465
@clayop so, what do you think, break down the transfer fee and the Bitshares Network Fee or just consolidate the two?

[2015-11-08 15:57] wmbutler commented on #466
Agreed. I'll mark this as an enhancement but not assign it to a Milestone yet.

[2015-11-08 15:59] clayop commented on #465
I think it's too informative. Consolidating the two may be enough for users.

[2015-11-08 16:01] wmbutler opened #467 "Web wallet unresponsive when insufficient funds to pay fees"
Reproduce by purchasing any asset with all available funds. On the final confirmation dialog, the modal freezes. Looking at the console log, the reason is insufficient funds to pay fees.

The final CONFIRM button should be INACTIVE and a message stating that the the user has insufficient funds to pay their fee should be displayed next to the fee on the final modal.

Another confidence killer, high

[2015-11-08 16:17] wmbutler commented on #467
![screen shot 2015-11-08 at 11 16 44 am](https://cloud.githubusercontent.com/assets/1254810/11021279/49cf8f1c-860a-11e5-8af8-6acb97e7bea7.png)

[2015-11-08 16:24] wmbutler opened #468 "Document development process for graphene-ui team"

[2015-11-08 16:26] wmbutler commented on #465
OK, so the `Fee` line is good enough then? It can include all fees that the user pays as part of the transaction.

[2015-11-08 16:28] clayop commented on #465
Yes. Thank you.

[2015-11-08 16:31] wmbutler commented on #449
I'm thinking we can close this if we agree to adopt this concept #465. Thoughts?

[2015-11-08 16:55] wmbutler opened #469 "Market: Clicking on account balance vs Lowest Ask"
This is strange. I don't know what to make of it, but it could be a javascript floating point issue:

When I click on the underlined balance next to billbutler-dev, the Pay field contains `322.78844`

![screen shot 2015-11-08 at 11 49 30 am](https://cloud.githubusercontent.com/assets/1254810/11021438/217ab4ce-860f-11e5-9dde-a40a5ada688f.png)

When I click on the underlined balance next to Lowest a

[2015-11-09 04:47] clayop commented on #449
Agreed. Thanks.

[2015-11-09 04:47] #449 closed, assigned to wmbutler

[2015-11-09 11:54] kenCode-de opened #470 "Get rid of the horizontal scroll-bar in Recent Activity"
Linux mint light client v2.0.151103

On the right side of the screen there is a horizontal scrollbar that makes me scroll sideways since one of the transactions in that "Recent activity" area has a long URL that was pasted into the memo field.

Please wrap the cell contents so that I don't have to scroll sideways, thanx :)

[2015-11-09 14:15] jcalfee commented on #426
Yes, it is complete, thanks.  I have more ideas here but the new wallet backup proposal by DL is going to be the focus now..

[2015-11-09 14:15] #426 closed, assigned to jcalfee

[2015-11-09 14:16] jcalfee commented on #353
Please re-open if this is still an issue.

[2015-11-09 14:17] jcalfee commented on #332
We have since added the filter to reduce crashing.  Please re-open if this is still an issue.

[2015-11-09 14:17] #332 closed, assigned to jcalfee

[2015-11-09 14:18] #353 closed, assigned to jcalfee

[2015-11-09 14:34] wmbutler commented on #470
Better yet, we should decide on max characters to be displayed like:

`https://www.google.com/this/and....`

[2015-11-09 14:38] kenCode-de commented on #470
Or raise fees for every byte consumed by the memo.

[2015-11-09 14:39] kenCode-de commented on #470
I foresee the "memo" field becoming something much more. That field is like a BLOB, it could store binary images, memo text, the permalink to an online document, or even the hash of a smartcontract on another chain altogether...

[2015-11-09 15:13] valzav commented on #457
A agree that Deposit/Withdraw can be improved and made more user friendly, but why BTS needs a dedicated buy/sell section?  Not much users care about BTS or even know it exists.

[2015-11-09 16:27] wmbutler commented on #457
I don't understand your statement. "Not much users care about BTS or even know it exists."

BTS is the underlying asset that drives everything we are working on. An investment in BTS is implicitly an investment in the foundation of the Bitshares ecosystem. I would expect that creating an effortless way for people to acquire BTS within the web wallet would be the single greatest priority. If it's n

[2015-11-09 16:52] wmbutler commented on #250
@valzav which dev is best equipped to solve this?

[2015-11-09 16:53] valzav commented on #250
@svk31

[2015-11-09 16:54] wmbutler commented on #434
@svk31 maybe you can knock this one out at the same time #469 Seems similar.

[2015-11-09 19:48] jcalfee opened #472 "Transaction.jsx unimplemented proposal_create"
console error: unimplemented op:  [22, Object]

The transaction confirmation dialog does not display the proposal create operation, instead it falls back to the tree view.

[code]

[2015-11-09 19:48] jcalfee commented on #39
depends: https://github.com/cryptonomex/graphene-ui/issues/472

[2015-11-09 21:08] jcalfee opened #473 "Display proposed transaction for an account"

[2015-11-09 21:10] jcalfee commented on #39
depends: #473

[2015-11-09 23:32] valzav commented on #271
Spent a lot of time today trying to make it work in IE - no luck.
Let's cease IE support until we have time and resources to fix it.

[2015-11-09 23:33] valzav opened #474 "Cease IE support and warn IE users that they need to switch to Edge, Chrome or Firefox"

[2015-11-09 23:48] jcalfee commented on #105
Close for now...

[2015-11-09 23:48] #105 closed, assigned to nobody

[2015-11-09 23:49] jcalfee commented on #304
Re-open if this is still an issue..

[2015-11-09 23:49] #304 closed, assigned to jcalfee

[2015-11-09 23:51] jcalfee opened #475 "Enable proposed tranfers"
depends https://github.com/cryptonomex/graphene-ui/issues/473
depends https://github.com/cryptonomex/graphene-ui/issues/472

This commit is originally on the develop branch in `graphene`.  It needs to be in the witness node before releasing...
depends https://github.com/cryptonomex/graphene/commit/b03ac00b6c8f1dc00a47616b7571d79ee3381f23

Include the `propose` feature in the transfer dialog:
git r

[2015-11-09 23:53] jcalfee commented on #473
@valzav can you move the logic in Proposals.jsx to the BindToChainState.jsx decorator?

[2015-11-10 00:04] wmbutler commented on #271
OK, let's detect for it and present a banner to the user. I'll UX it.

[2015-11-10 00:10] jcalfee commented on #472
Also needed: proposal_update, and proposal_delete

[2015-11-10 00:18] wmbutler commented on #271
![screen shot 2015-11-09 at 8 16 59 pm](https://cloud.githubusercontent.com/assets/1254810/11051660/dfeeb88c-871e-11e5-87dc-8ecd8d4e4e78.png)

[2015-11-10 01:02] jcalfee commented on #271
Some browsers do not offer full support for the BitShares wallet. ...

[2015-11-10 01:03] jcalfee commented on #271
We recommend the chrome browser.

[2015-11-10 01:05] jcalfee commented on #271
Correction, like you have it: "the Google Chrome Browser"

[2015-11-10 01:17] wmbutler commented on #271
Updated.

[2015-11-10 01:32] wmbutler commented on #474
![screen shot 2015-11-09 at 8 16 59 pm](https://cloud.githubusercontent.com/assets/1254810/11051860/f5397d7e-8720-11e5-99e2-e12e1e55f754.png)

[2015-11-10 01:35] wmbutler commented on #271
Duplicate #474

[2015-11-10 01:35] #271 closed, assigned to valzav

[2015-11-10 01:36] wmbutler commented on #463
Either:
- [x] fix committee filtering
- [ ] remove filter box from committee area

[2015-11-10 02:02] RenaudGagne opened #476 "Missing Balance"
Hi,

I download 0.9.3c and imported my keys from the previous version into it. Since there is no delegate there is no network connection. When I export and import they keys into bitshares 2.0, here is the message I get:

Unclaimed balances belonging to these keys:
ASSET TOTALS
18,220.35302 BTS

I am supposed to have much more in there.

[2015-11-10 03:22] wmbutler commented on #476
@RenaudGagne This is not really a function of the graphene-ui. It's possible that you have transactions that need to be synchronized in the 0.9.3c wallet. This can be painstakingly slow, but it is necessary. Alternatively, if you ever had another wallet, make sure you didn't have balances associated with it. I am closing the issue here since it's not something that the ui developers have any contr

[2015-11-10 03:22] #476 closed, assigned to wmbutler

[2015-11-10 03:28] wmbutler commented on #281
Closing after no response form @neura-sx

[2015-11-10 03:28] #281 closed, assigned to nobody

[2015-11-10 15:55] dnotestein opened #477 "Bad zoom level for market wall view"
It's not possible to see the order wall for market with a large spread. In included screenshot, the graph is blank. You can only see the buy and sell order by scrolling left or right (can't find any way to zoom out to see the orders together).
![trademuse_bts_market_graph_bug](https://cloud.githubusercontent.com/assets/5102968/11067222/8696df64-8799-11e5-998a-f9248e78375a.jpg)

[2015-11-10 16:01] wmbutler commented on #477
This is a scaling issue. Added for late November.

[2015-11-10 21:35] valzav commented on #474
I think we can IE 11 support - some of the calls can be replaced with workarounds.
But for IE < 11 we have to show a warning like this.

[2015-11-10 21:58] valzav commented on #444
I just removed localhost option, it's not a full solution but still an improvement.

[2015-11-10 22:15] svk31 commented on #361
I've refactored the prices in the Exchange to use price objects like in the backend, but I'm not comfortable with pushing it live tomorrow without testing so I'd prefer to push this back to the next milestone

[2015-11-10 22:16] svk31 commented on #434
See #361, I prefer to push this to the next milestone

[2015-11-10 22:41] clayop opened #480 "Withdraw with Memo"
I realized that many exchanges support a memo feature when user withdraw their fund. This is important when users want to move their fund from one exchange to another exchange (not via local wallet, This practice surely has risks).
Can we add this feature too? By doing so, we can provide users with more convenience.

[2015-11-10 23:02] ByronAP opened #481 "Does not build with the latest Node on Windows"
Does not build with the latest Node on Windows. Throws a ton of errors while installing deps and during build.

[2015-11-11 04:59] wmbutler commented on #481
What is the recommended node version @valzav ?

[2015-11-11 05:02] wmbutler commented on #434
Pushed to 1118

[2015-11-11 05:03] wmbutler commented on #361
Can you place an overall estimate on this?

[2015-11-11 05:03] wmbutler commented on #444
Excellent.

[2015-11-11 05:06] wmbutler commented on #474
We should default to displaying incompatible for any version that has already been verified to not work and simply add to the exception list as cases are revealed. Think that's possible? The hardest part of this is the UX since browser detection should be quick. I think this should remain open until the warning is in place.

[2015-11-11 12:15] svk31 commented on #361
It's almost done, just a couple hours more on my end to make sure it all works as expected.

[2015-11-11 12:18] svk31 commented on #472
I can add this but I need the json data for _update and _delete.

I assume proposed_ops can contain an unlimited (or at least large) amount of additional operations?

If you've already made these transactions on the blockchain it would be a great help to actually have the block numbers.

[2015-11-11 12:32] svk31 commented on #455
Not sure I get what you want here. You want a link from the internal block explorer to an external one link cryptofresh?

[2015-11-11 12:35] kenCode-de commented on #455
yes please. this way it will open the users default browser with cryptofresh displaying that blocks info. makes it easier to send a URL to someone as proof that you paid them or vice versa.

[2015-11-11 12:45] jcalfee commented on #472
Let wait on update and delete...  I look at how you do create in this commit.   Maybe I can add those later...

No, not a lot for a while...  One initially.  A simple overflow just in case...

[2015-11-11 14:01] kenCode-de opened #482 "Show BTS balance in Accounts search results table"
Click on Explore, Accounts, enter BTER in the Accounts search field.

ID and Account Name columns are shown. There is room on the screen still, could you please also show that users BTS balance in a right-side column?

This allows me to see which account is most likely used for cold storage, which is that exchanges hot wallet, etc.

CT contacted me again and is doing a story on proving an exchange

[2015-11-11 14:30] jcalfee commented on #472
Once the witness node is updated I'll put a proposal on the blockchain....

[2015-11-11 17:49] svk31 commented on #250
I can't reproduce this as described, although there is an unhandled error when updating someone else's margin position. I'll push a fix for that, but I can't get past the unlock screen, not in the Borrow Modal nor in the market page

[2015-11-11 18:07] #459 closed, assigned to wmbutler

[2015-11-11 18:41] svk31 commented on #469
This is not actually a bug but a consequence of how the blockchain assets work, specifically the limited and different precisions.
Say asset A has precision 2 (max 2 decimals), asset B has precision 5.
I have 5.12555 of asset B that I want to sell for 2 A/B.

With full precision I would receive 2 \* 5.12555 = 10.2511 of asset A. However, that is not possible since the precision of A is 2, so I wou

[2015-11-11 19:01] clayop opened #484 "Cannot Generate MUSE Deposit Memo"
![image](https://cloud.githubusercontent.com/assets/9971632/11100001/688d6932-8863-11e5-8b78-762e856129f8.png)

I clicked generate button several times, but it does not show the memo I have to enter.

[2015-11-11 19:17] emfrias commented on #484
There was an error in the original implementation, MUSE deposits use a memo instead of new addresses.  Fixed in 12dc274752d1fa606c21ea558947c9cd446cad95

[2015-11-11 19:57] svk31 commented on #435
My commit should fix this but I can't test because the dropdown is broken for some reason on my machine.

[2015-11-11 20:21] wmbutler commented on #455
@svk31 This is on a later milestone. Don't sweat this for a couple of weeks.

[2015-11-11 20:22] wmbutler commented on #482
1125 Milestone.

[2015-11-11 20:26] wmbutler commented on #469
So, since this is a shortcut means to enter an order, can you just run the calculation to deal with the exception rather than throwing a warning? I can't thing of a case where a user wants to be presented with an error.

[2015-11-11 20:40] svk31 commented on #469
Yes, I can calculate the max amount one can sell at the given price, and use that as the total instead of the actual balance. I suspect users will still find it confusing however that upon clicking their balance, the whole amount is not used in the transaction.

[2015-11-11 20:45] valzav opened #486 "Add search button to explorer/assets page"

[2015-11-11 21:52] wmbutler commented on #469
This leads to the issue of needing to deduct out fees right? I think that in order to make this flow properly, you should have a line item for the fee and extract the fee as well. Would this provide a clear consistent feedback loop?

[2015-11-11 21:55] wmbutler commented on #250
ok @neura-sx please test and close.

[2015-11-11 21:56] wmbutler commented on #472
Can this stay in 1118, or do we need more time? @jcalfee

[2015-11-11 23:54] clayop commented on #484
Solved. But the deposit doesn't work at the moment.
http://muse.cryptofresh.com/b/522859

[2015-11-12 04:19] clayop commented on #484
Memo was wrong. My bad.

[2015-11-12 04:19] #484 closed, assigned to nobody

[2015-11-12 06:59] svk31 commented on #469
Yes the fee should be taken into account as well, I've been meaning to add the fee anyway. Mind making a mockup of how the fee should be presented? Below the total? Below? Line separators? etc

[2015-11-12 07:00] svk31 commented on #472
This is like 30 mins of work once I actually have a transaction to work with.

[2015-11-12 17:44] wmbutler commented on #39
Moving this to 1118 since it's still in the In Progress pipeline.

[2015-11-12 17:45] wmbutler commented on #469
Yes, I'll mock this up and move to 1118

[2015-11-12 17:46] wmbutler commented on #456
This needs to be claimed and worked by someone. @valzav thoughts? Moving to 1118

[2015-11-12 17:47] wmbutler commented on #334
Need a dev to claim this. Moving to 1118

[2015-11-12 17:48] #384 closed, assigned to valzav

[2015-11-12 17:48] #250 closed, assigned to svk31

[2015-11-12 17:48] #442 closed, assigned to valzav

[2015-11-12 17:48] #444 closed, assigned to valzav

[2015-11-12 17:48] #467 closed, assigned to nobody

[2015-11-12 17:48] #463 closed, assigned to svk31

[2015-11-12 17:48] #452 closed, assigned to svk31

[2015-11-12 18:02] svk31 commented on #456
@jcalfee is best equipped to handle this.

[2015-11-12 19:15] jcalfee commented on #456
jcalfee
I increase the expiration time for about 1 sec per signature.
Also, I group balance claims in groups of 60 ..
so the trx does not become too large..

jcalfee [1:14 PM]
So did you have the issue more than maybe 2 weeks ago?

xeroc [1:14 PM]
i'd say so .. yes

[2015-11-12 23:26] wmbutler commented on #456
@jcalfee I assigned this to you as well. If you are able to get into the groove, please claim items you are working on. Thanks.

[2015-11-13 00:17] wmbutler opened #487 "Markets screen fails to load when user doesn't have an account"
When a user first opens the web wallet, they have access to the Trade tab at the top. When they click on the Trade tab, it takes them to the list of Markets, however, if the user clicks on a Market, the loading graphic persists.

This is confusing to the user. I'd suggest a modal when the user clicks on a market that said:

"Please create an account to view the markets"

alternatively we could all

[2015-11-13 15:47] maqifrnswa opened #488 "Promise not defined in bitshares-2-ui 2.0.151111"
When building the webpack:

[code]

[2015-11-13 16:18] svk31 commented on #488
I think that's one related to either using a too recent nodejs version or babel version.

[2015-11-13 16:43] valzav commented on #465
I think rather than have DEPOSIT and WITHDRAW tab on top, we may have ask user to select conversion pair as a first step.

[2015-11-13 16:46] valzav commented on #465
Also I think it's important to provide more information, users might have a lot of questions, like:
- what is  GATEWAYBTC vs. real BTC and BitBTC
- what gateway to chose - there should be some comparison table that shows liquidity, reputation etc

[2015-11-13 17:10] svk31 commented on #315
This was fixed a few days ago finally (sorry I totally forgot about it)

[2015-11-13 17:10] #315 closed, assigned to svk31

[2015-11-13 17:41] svk31 opened #490 "Orderbook and market history colors are missing for some numbers"
![image](https://cloud.githubusercontent.com/assets/6890015/11152988/30f11eae-8a36-11e5-8af1-01c04c8e5295.png)

[2015-11-13 18:08] maqifrnswa commented on #488
Thanks - any tips on debugging? This didn't happen in 2.0.151105. I just did npm install in each of the directories then built the web pack

additional info:
Babel version  "version": "5.8.29" (which is what the web package.json asks for)
node version v0.10.25

[2015-11-13 18:10] #490 closed, assigned to svk31

[2015-11-13 18:13] svk31 commented on #488
Try updating node to v0.12.7, yours is quite old (even 0.12.7 is old)

[2015-11-14 00:48] jcalfee commented on #488
The nvm makes thid  easy... Node version manager
On Nov 13, 2015 12:13 PM, "Sigve Kvalsvik" notifications@github.com wrote:

[2015-11-14 11:09] juanfranblanco commented on #315
Great, no need to apologise

[2015-11-14 14:57] kenCode-de opened #491 "Need ability to Export the "Recent Activity""
Please provide a link at the bottom or something that will allow me to export a Range (last 7 days, last 30 days, last 3 months, last 6 months, last year, all), or specific to/from dates.

The file exported should (probably) be XLS, ODF or CSV.

The memo field, and the actual dates and times of the transactions should show in the exported file as well.

My Tax Accountant (CPA) needs this info so t

[2015-11-14 15:03] kenCode-de opened #492 "QR codes needed BAD"
1. Click on an account in your wallet (i am using linux light client).
2. Click on Deposit/Withdraw
3. Next to the "generate" button, there needs to be a small QR code button as well, ie:
   [ QR ]

This will allow me to hold up my phone, scan the qr code, and send some BTC to my light wallet so that I can buy OPENBTC easily.

Right now however, I have to select and copy that BTC address, paste it

[2015-11-14 16:26] c055 commented on #492
https://github.com/cryptonomex/graphene-ui/issues/465

[2015-11-14 19:53] svk31 commented on #448
I've implemented large parts of this now, what remains is notably the search functionality, and the "All markets" only uses the already defined markets from the previous "favorite markets" functionality.

![image](https://cloud.githubusercontent.com/assets/6890015/11165497/7c12f82c-8b11-11e5-8f8f-a470a8a91ecb.png)

I have to think some more about how to add "All markets", we can't really show all

[2015-11-14 20:02] svk31 opened #493 "Request settlement of bit asset"
This needs to be added so that holders of bit assets can reliably convert their assets to BTS.

[2015-11-15 14:22] maqifrnswa commented on #488
~~It seems to be related to:
https://bitsharestalk.org/index.php?topic=19927.0~~
above is a different bug

you're right, you need a new version of node:
http://stackoverflow.com/questions/21564993/native-support-for-promises-in-node-js
Node.js added native promise support since version 0.11.13.

so we should depend on node > 0.11.13 (which is already recommended here:
https://github.com/cryptonome

[2015-11-15 14:46] svk31 commented on #448
OK this should be ready to go now. I still need to refactor the Market cards in the overview, but at least the table view has the new functionality.

I've added some default base options that will show up when searching unless the user specifies a particular base as so USD:BTC. The currrent defaults are BTS, USD, CNY, and BTC.

[2015-11-15 17:15] clayop commented on #493
It really needed. What about having "Advanced" button and when users click the button, Borrow USD and Settlement USD are shown?

[2015-11-16 09:07] xeroc opened #494 "[Feature request] Account overview optimization for many accounts"
Just some thoughts to make the accounts overview page more useful for people with several accounts:
- [x] Highlight lifetime member accounts
- [x] Search/Filter for account names (complete in issued #590)
- [x] checkbox to "hide empty" accounts (starring accounts instead)
- [ ] show only those accounts holding asset X
- [ ] sort by recent changes

[2015-11-16 16:00] jonathanbahai commented on #488
Upgrade to latest iojs-v3.3.1 using nvm

Following this there are css-loader errors when you try to compile that have to do with newer version not including the es6-promise module.. so I went to:

conf/webpack.config.js

Added the following line to the top:

require('es6-promise').polyfill();

Then installed es6-promise:

npm install es6-promise

Then npm build run and npm build start all without

[2015-11-16 16:23] valzav opened #495 "asset issuer should have ability to fund asset fee pool"

[2015-11-17 03:42] RenaudGagne opened #496 "BLOCK #982689 - UIA created but doesn't appear in wallet"
I created a new uia and I can't find it anywhere in my account.

[2015-11-17 03:59] #496 closed, assigned to nobody

[2015-11-17 15:10] jcalfee opened #497 "CORE is hard-coded in SettingsStore.js"
https://github.com/cryptonomex/graphene-ui/blob/eb4def1d75710572456abc37e2bcc2fe223bf4f9/dl/src/stores/SettingsStore.js#L6

Instead an `init` method would be more appropriate so this could update automatically via the chain/config.coffee ..

[2015-11-17 15:11] jcalfee commented on #497
[9:06:43 AM] jose david de lavalle tcherassi: I'm signed in, and all tabs: account - explore - transfer work well. But when I click "trade" it becomes unresponsive.

[2015-11-17 15:11] jcalfee commented on #497
this is a low priority

[2015-11-17 17:09] c055 opened #498 "Account > Overview : History filterable into (last/weekly/montly)"
<img width="984" alt="Filter able history" src="https://cloud.githubusercontent.com/assets/6280810/11218600/284c9026-8d56-11e5-9347-57a1d2aa4f3c.png">

just brainstorming .. Feedback appreciated

[2015-11-17 17:09] c055 opened #499 "Exchange > highlight active market state on bottom right"

[2015-11-17 17:31] c055 commented on #495
+1

[2015-11-17 18:22] valzav opened #500 "Membership page: show vested cashback balance and add Claim button next to it"
- [x] Show vested cashback balance
- [ ] Claim button

[2015-11-18 07:11] xeroc commented on #456
Another case:
https://bitsharestalk.org/index.php?topic=20081.msg255901;topicseen#new

[2015-11-18 07:34] svk31 commented on #481
0.12.7 is the version we've been using. Newer versions of NPM (that come with node) do not install peer dependencies and because of this the installations fail due to missing dependencies. I can have a look and update the dependencies, but until then you can simply install the ones npm complains about manually.

[2015-11-18 10:17] xeroc commented on #498
Other possible filters:
- by asset
- by receiver
- memo (search)
- date

[2015-11-18 10:20] juanfranblanco opened #501 "Feature -> UIA -> Field to store IPFS token for digital certificates when issuing assets."
This can be a very simple feature, when issuing tokens from an UIA, the tokens can linked to an IPFS token that will hold the digital certificate. This will allow to quickly provide similar functionality to Factom or other specialised Digital Assets.

[2015-11-18 10:23] juanfranblanco commented on #501
Duplicated https://github.com/cryptonomex/graphene/issues/444

[2015-11-18 10:23] #501 closed, assigned to nobody

[2015-11-18 12:23] wmbutler commented on #448
I know you've closed this already, but All Markets could be empty until a user starts typing in the search area. Then you wouldn't have to load them all....or you could display the top 20 markets alphabetically if nothing is typed into the search/filter box.

[2015-11-18 12:24] wmbutler commented on #469
Moving this to 1125 and UXing it soon.

[2015-11-18 12:24] svk31 commented on #448
No worries, that's how I implemented it finally :)

[2015-11-18 12:30] wmbutler commented on #481
Do we really need latest node? I'd suggest staying on 0.12.7 since we have bigger fish to fry. @ByronAP will you close this and we can look at it in a month or so?

[2015-11-18 12:31] wmbutler commented on #456
@jcalfee Can you squeeze this edge case in before the Milestone ends?

[2015-11-18 12:32] ByronAP commented on #481
Yes, can we just note the instructions with the proper version and deps. So people are not scrambling to piece things together.

On Wed, Nov 18, 2015 at 4:30 AM -0800, "Bill Butler" <notifications@github.com<mailto:notifications@github.com>> wrote:

Do we really need latest node? I'd suggest staying on 0.12.7 since we have bigger fish to fry. @ByronAPhttps://github.com/ByronAP will you close this

[2015-11-18 12:34] wmbutler commented on #481
@ByronAP would you like to fork and propose propose those instructions yourself? I'll close this.

[2015-11-18 12:34] #481 closed, assigned to wmbutler

[2015-11-18 12:35] wmbutler commented on #495
If this requires UX, I'd like to have some more commentary on what this means so I can create some pretty pictures.

[2015-11-18 12:38] wmbutler commented on #488
@valzav @svk31 some clarity here? Is it fixed, closed?

[2015-11-18 12:40] wmbutler commented on #494
Bunch of UI stuff here. I'll get to work on it.

[2015-11-18 12:41] svk31 commented on #488
Yes you can close it, it's the same issue as Byron P had with the node version basically.

[2015-11-18 12:42] xeroc commented on #495
If you want you own token you have to
1. create an asset (we can do this already)
2. issue tokens to one of your accounts (missing)
3. sell your tokens in any market (we can do this as well)

to issue tokens you need to run this in the cli:
https://bitshares.org/doxygen/classgraphene_1_1wallet_1_1wallet__api.html#ac4ff8075641a7469265122ff9a66e30e

It requires these parameters:
Parameters
- to_acco

[2015-11-18 12:42] #488 closed, assigned to valzav

[2015-11-18 12:43] svk31 commented on #495
Issuing tokens has been available in the GUI since launch. Funding the fee pool is not available however.

[2015-11-18 12:46] wmbutler commented on #492
Closing as duplicate #465

[2015-11-18 12:46] #492 closed, assigned to nobody

[2015-11-18 12:48] wmbutler commented on #491
Nice feature request. Slated for late December. Needs UX.

[2015-11-18 13:37] c055 commented on #498
yep nice - what i'm really loving on the Darkwallet GUI is that all balances are summed up to a weekly / monthly report ..

[2015-11-18 15:35] xeroc commented on #456
@wmbutler: James talked to me about this already and he had it fixed .. I think the case above may have another reason that needs investigation first .. wouldn't count on this being fixed today already as we need input first

[2015-11-18 17:31] #165 closed, assigned to svk31

[2015-11-18 17:31] #361 closed, assigned to svk31

[2015-11-18 17:31] #434 closed, assigned to svk31

[2015-11-18 17:31] #451 closed, assigned to svk31

[2015-11-18 17:31] #448 closed, assigned to svk31

[2015-11-18 17:31] #445 closed, assigned to svk31

[2015-11-18 17:36] svk31 commented on #392
This is no longer an issue as far as I can tell on OL, the buttons lose focus after clicking on them. Also, due to space issues I prefer to not have two buttons for switching between depth/price charts.

[2015-11-18 19:20] #379 closed, assigned to svk31

[2015-11-18 23:11] maqifrnswa opened #502 "2.0.151118 doesn't load previous wallets"
This report is for the electron build:

1) Create a wallet in 2.0.151111
2) Close 2.0.151111
3) Build and open version 2.0.151118
4) BitShares opens to the "Create Account" page. **The previously created accounts appear to be missing**
5) Close 2.0.151118, and open 2.0.151111. **The wallet is still there.**
6) Backup the wallet in 2.0.151111 and close
7) Open 2.0.151118. Import the new backup, **t

[2015-11-18 23:13] valzav commented on #502
I don't see this issue. Can anybody else confirm?

[2015-11-18 23:17] valzav opened #503 "explorer/markets page makes browser to hit 100% CPU consumption"

[2015-11-18 23:25] maqifrnswa commented on #502
hm, since I imported the wallet I can't reproduce either -- maybe my db got corrupted somehow

[2015-11-19 00:08] wmbutler commented on #39
@jcalfee will this be moved to 1125 or will it be complete with 1118?

[2015-11-19 00:10] wmbutler commented on #336
Need some guidance on this. It needs to be claimed if it's a valid bug. @valzav can you assist?

[2015-11-19 00:12] wmbutler commented on #356
@svk31 You think this will be worked in this Milestone or pushed to 1125? Seems like your area of expertise.

[2015-11-19 00:15] wmbutler commented on #502
Please close if you can't reproduce @maqifrnswa

[2015-11-19 00:17] wmbutler commented on #392
ok, but I still think a toggle makes more sense to give the user a clue as to what their other option is. Closing.

[2015-11-19 00:17] #392 closed, assigned to svk31

[2015-11-19 07:08] #503 closed, assigned to svk31

[2015-11-19 07:32] svk31 commented on #356
This is @jcalfee's domain really, he's the one behind all the transaction processing. I could have a look but I'm worried I might break something.

There's a related issue here: market trading fees. They're currently paid in whatever asset you're selling, which means a bid in the USD:BTS market has fees in BTS, while an ask has fees in USD.

Would it be preferable to always pay fees in BTS, or alw

[2015-11-19 07:35] svk31 commented on #336
I'll have a look but it's a tough one to reproduce which is why it's not been handled yet..

[2015-11-19 09:38] kenCode-de opened #504 "CREATE ASSET button is nearly impossible to read"
Click on an account in your wallet
Click on Assets
Click on CREATE NEW ASSET button
The CREATE ASSET button at the bottom of that screen is a light gray text label on a medium gray button, it is nearly impossible for my 45 year old eyeballs to read.

[2015-11-19 13:05] c055 commented on #498
also referenced to https://github.com/cryptonomex/graphene-ui/issues/491 ... Ability to download history… for accounting etc. purposes

[2015-11-19 13:07] c055 commented on #498
also .. https://github.com/cryptonomex/graphene-ui/issues/494

[2015-11-19 13:35] #502 closed, assigned to nobody

[2015-11-19 13:49] wmbutler commented on #439
Probably a simpler solution. I think I misunderstood the intent of the original request.

[2015-11-19 13:51] wmbutler commented on #356
@jcalfee bumping this to you based upon @svk31 comment above. @bytemaster since you opened this, can you chime in on the fees question above. I expect you have an opinion on this.

[2015-11-19 14:08] maqifrnswa opened #505 ""Borrow Asset" window resets on new block on some accounts"
On one account, the "borrow asset" window resets every block:
http://162.243.185.205/images/reset_on_new_block.mp4

On another it doesn't:
http://162.243.185.205/images/account_that_works.mp4
both updating existing positions and creating a position have this bug

Conditions I've tried on the account that works:
1) no orders on any market
2) orders on one side of a market
3) orders on both sides of

[2015-11-19 14:11] svk31 commented on #505
Guess I got a bit over-zealous trying to make sure the positions updated when you switch accounts. I'll fix this today before launch.

[2015-11-19 15:47] valzav commented on #504
Probably it's fixed already - here is what I see now:

![image](https://cloud.githubusercontent.com/assets/28658/11275275/ded31270-8eaa-11e5-9cf8-a29c0f12f394.png)

[2015-11-19 16:19] kenCode-de commented on #504
whoa cool, i guess i need to grab the latest deb thanx Valentine :)

[2015-11-19 16:19] #504 closed, assigned to nobody

[2015-11-19 16:49] #443 closed, assigned to svk31

[2015-11-19 22:05] maqifrnswa commented on #505
Thanks, but I still have the same issue in 2.0.151119 on the same account

[2015-11-20 13:22] #439 closed, assigned to svk31

[2015-11-20 13:23] svk31 commented on #435
This has introduced a new bug it seems but I'll track that in a different issue.

[2015-11-20 13:23] #435 closed, assigned to svk31

[2015-11-20 13:54] wmbutler opened #506 "Writeup GUI -> cli account import process"

[2015-11-20 14:19] wmbutler commented on #473
@jcalfee can you estimate this? I have no idea what kind of effort is required here.

[2015-11-20 15:49] #336 closed, assigned to svk31

[2015-11-20 15:53] svk31 commented on #486
I did this already

[2015-11-20 15:53] #486 closed, assigned to nobody

[2015-11-20 16:01] wmbutler commented on #457
https://github.com/cryptonomex/graphene/issues/450

[2015-11-20 17:38] wmbutler commented on #435
Happy to book this bug for you if you like. Let me know.

[2015-11-20 18:49] valzav opened #507 "Market page shows loading indicator if user doesn't have any account - it should suggest to create account instead"

[2015-11-20 20:09] wmbutler commented on #507
No sure whether this should go to @jcalfee or @svk31 but it's a confidence killer bug and an easy win so putting in in 1125

[2015-11-20 20:10] wmbutler commented on #505
Opening and adding back as a bug in 1125 based upon most recent comments.

[2015-11-20 20:41] wmbutler commented on #472
This is still in testing. I can't close 1118 until someone does something with this item. @jcalfee @svk31

[2015-11-20 20:45] wmbutler commented on #472
Should I move it to 1125?

[2015-11-20 20:59] wmbutler commented on #480
Updated UX in #465 to address this request.

[2015-11-20 20:59] #480 closed, assigned to wmbutler

[2015-11-20 21:01] wmbutler commented on #58
@valzav can this be closed?

[2015-11-20 21:02] wmbutler commented on #233
Please close @svk31 if this has been addressed. I see a commit.

[2015-11-20 21:04] wmbutler commented on #255
Can this be closed @valzav ? If not how important it is?

[2015-11-20 21:06] wmbutler commented on #375
@neura-sx

Is this still an issue? If not close. If so, please screenshot or give a very specific example so I can duplicate it.

OS:
Browser:

[2015-11-20 22:14] maqifrnswa opened #508 "Newest electron version on npm changed data directories"
I got to the bottom of #502

Electron moved the data directory, they are now found at:
$XDG_CONFIG_HOME/chromium/BitShares2-light
(~.config/chromium/BitShares2-light)
instead of where they were originally:
$XDG_CONFIG_HOME/BitShares2-light

that means if people upgrade electron and rebuild their own electron app, they will not find their wallets as the new folder is empty. Same goes for the packag

[2015-11-21 23:46] wmbutler opened #509 "obits:bts bts:obits"
I'm trying to understand why we have 2 different markets for the same trading pair. Can anyone shed some light on this? The volumes are different as well.

![screen shot 2015-11-21 at 6 44 22 pm](https://cloud.githubusercontent.com/assets/1254810/11321115/1f3c396e-9080-11e5-948f-b9f4e89102d6.png)

[2015-11-22 00:03] wmbutler commented on #508
@maqifrnswa close this when you are ready.

[2015-11-22 00:59] #468 closed, assigned to wmbutler

[2015-11-22 01:10] wmbutler commented on #509
Volume refers to the specific currency so it will appear differently based upon the order of the trading pairs.

[2015-11-22 01:10] #509 closed, assigned to wmbutler

[2015-11-22 01:11] wmbutler opened #511 "Search for GOLD:BTS succeeds but BTS:GOLD fails"

[2015-11-22 01:27] wmbutler commented on #469
OK, @svk31 here is the UX for the fee.
- Also, include a warning prior to trade execution if use does not have enough BTS to cover fee
- Disable Buy/Sell button if insufficient BTS to cover fee

![screen shot 2015-11-21 at 9 22 07 pm](https://cloud.githubusercontent.com/assets/1254810/11321641/fbc5b4cc-9095-11e5-9cca-481ac4e59c3f.png)

[2015-11-22 01:29] wmbutler commented on #453
Most browsers put these in the upper left corner so let's keep convention

![screen shot 2015-11-21 at 8 29 02 pm](https://cloud.githubusercontent.com/assets/1254810/11321467/97bf773a-908e-11e5-8b5c-ebeb7c9a72cd.png)
![screen shot 2015-11-21 at 8 28 54 pm](https://cloud.githubusercontent.com/assets/1254810/11321468/97c106c2-908e-11e5-9cd4-b6aa4a88abcb.png)

[2015-11-22 01:54] wmbutler commented on #453
These are fontawesome arrows and I shifted the header menus over to accommodate them.

![screen shot 2015-11-21 at 8 53 01 pm](https://cloud.githubusercontent.com/assets/1254810/11321538/07d9bd7a-9092-11e5-815e-3b6010cd7bc0.png)

[2015-11-22 01:57] wmbutler commented on #499
Let's just show it in blue if it's the actively selected Market

![screen shot 2015-11-21 at 8 57 19 pm](https://cloud.githubusercontent.com/assets/1254810/11321556/8a4b924c-9092-11e5-84f4-56b96791d7da.png)

[2015-11-22 02:04] wmbutler opened #512 "Display total assets of all account in chosen currency"
As a user, I should be able to see the value of all of my holdings in whatever trading pair / currency I desire.

[2015-11-22 02:07] wmbutler commented on #493
I think I need clarification here in order to UX this. Which screens are we talking about. Is this where we can settle up short positions?

[2015-11-22 02:13] wmbutler commented on #318
I think @svk31 did a lot to mitigate this with some other changes in 1118. Closing for now.

[2015-11-22 02:13] #318 closed, assigned to wmbutler

[2015-11-22 02:15] wmbutler commented on #357
If I could get some clarity as to what a 'fee schedule' is, I'll start to UX this.

[2015-11-22 02:40] wmbutler commented on #427
#469 has UX for fees included.

[2015-11-22 02:40] #427 closed, assigned to wmbutler

[2015-11-22 05:42] maqifrnswa opened #513 "Error in MarketsActions.subscribeMarket: ReferenceError: showCallLimit is not defined(…)"
Opening BTS:BTC freezes the ui.
bitshares2 ui 2.0.151119

Java console says:

[code]

[2015-11-22 07:54] #511 closed, assigned to svk31

[2015-11-22 07:55] svk31 commented on #513
Was fixed here: https://github.com/cryptonomex/graphene-ui/commit/c295d96deb43852f990ad6a9c2370413b3eaba40

[2015-11-22 07:55] #513 closed, assigned to nobody

[2015-11-22 08:00] svk31 commented on #357
It just means a list of what all the current fees are. You can see an example on cryptofresh: http://cryptofresh.com/fees

[2015-11-22 08:32] svk31 commented on #505
I can't reproduce but I've made some more improvements to the update logic for the component. I also identified an issue where the modal did not show after switching to a different market. I've fixed that issue in another repo ref: https://github.com/valzav/react-foundation-apps/pull/1

[2015-11-22 08:52] svk31 commented on #272
I've added this for the first three on your list, I think the transfer page needs some more thought as to what should be remembered or not so I'm leaving it out of this.

[2015-11-22 12:37] #477 closed, assigned to svk31

[2015-11-22 12:37] svk31 commented on #477
I can't reproduce this anymore, but my latest commit should fix this anyway.

[2015-11-22 12:41] svk31 commented on #464
I'm not sure what the purpose of this issue is, nor the value of this "custom sort".

Currently you can sort the market lists by volume, price change and name. What else is needed?

[2015-11-22 13:57] wmbutler commented on #464
I took it from another user request, but I agree, it's probably low priority. I think the idea is that a user could assign an arbitrary sort order based upon their preference by dragging and dropping.

[2015-11-22 13:57] #464 closed, assigned to svk31

[2015-11-22 14:00] wmbutler commented on #272
@neura-sx please verify and close. Transfer state will be worked at a later time once it's been re-imagined.

[2015-11-22 14:05] wmbutler commented on #505
The only thing I noticed is that the slider let's you keep adding collateral even if you don't have enough BTS. So, in this case, I only have 322 BTS in my account. I think that once the collateral reaches 322 (including fees), it should stop incrementing and the remaining clooateral should get locked to 0 rather than going negative. By allowing the current behavior, you are letting the user step

[2015-11-22 18:18] maqifrnswa commented on #513
Thank you! Great job keeping up with these reports, it's been quite impressive

[2015-11-22 18:31] maqifrnswa commented on #508
https://bitsharestalk.org/index.php/topic,20184.new.html#new
posted here too, I think this should give enough pointers for people to be aware of any issues

[2015-11-22 18:31] #508 closed, assigned to nobody

[2015-11-22 18:44] wmbutler opened #515 "Clicking on lowest or highest buy/sell price does not result in an eligible market order"
Study this screen shot first:

![screen shot 2015-11-22 at 1 11 49 pm](https://cloud.githubusercontent.com/assets/1254810/11325506/c2d25084-911d-11e5-97c3-d21a636becc6.png)

In this screen shot, I clicked on the lowest sell price (114.810.56250) and specified .29238 BTC. This value populated correctly in the buy input field, however, during the order confirmation, it gets changed to 114,810.566413

[2015-11-22 19:27] svk31 commented on #469
I'd appreciate some testing of this, it's pretty complicated handling different edge cases here so I might have missed something.. I'm using a notification to tell the user he doesn't have enough funds to pay the fees since it was the fastest way, I can go back later if we really want it in the Fee field.

[2015-11-22 19:42] svk31 commented on #505
Moving this to testing, situation wmbutler noticed was related to a bug in the remaining collateral balance calculation, the modal does not allow the user to make "impossible" updates.

[2015-11-22 19:43] svk31 commented on #515
Would appreciate some testing here as well.

[2015-11-22 19:49] svk31 opened #516 "RSI and ATR indicators make the price chart too small"
When adding one of these indicators the chart yAxes all get set to the same height. Ideally the price chart should remain larger than the volume chart.

![image](https://cloud.githubusercontent.com/assets/6890015/11325905/79c42506-915a-11e5-96d6-73808406d737.png)

[2015-11-22 19:51] svk31 opened #517 "Adding Indicators hides the currentPrice tag"
Because SVG z-index is based on the render order, adding the indicators makes the current price tag fall behind the y axis labels.

![image](https://cloud.githubusercontent.com/assets/6890015/11325918/eab93a58-915a-11e5-812d-0c6394c612da.png)

[2015-11-22 20:24] svk31 commented on #512
I've added user selectable unit of value for the conversion today because it was easy after fixing the conversion component. Will add totals in the correct milestone.

[2015-11-23 06:54] neura-sx commented on #447
This small bug is still there in 2.0.151119 release.
Only in [Chrome / Win 7].
It works fine in [Firefox / Win 7].

[2015-11-23 07:06] neura-sx commented on #375
Yes, in the 2.0.151119 release the bug is still there.
In both [Chrome / Win 7] and [Firefox / Win 7].

As you can see in those two screen-shots below: when you roll your mouse from the bottom part of the screen upwards there is always a moment when you are close enough to the price history chart so that the horizontal part of the cross-hair shows up. But the problem is it shows up differently for

[2015-11-23 08:24] neura-sx opened #518 "There is an unnecessary horizontal scroll-bar on the voting/workers page"
[Chrome / Win 7] & [Firefox / Win 7]
[version 2.0.151119]

![03](https://cloud.githubusercontent.com/assets/11573977/11332193/c412db98-91c3-11e5-9990-1e5cec5313bd.png)

[2015-11-23 08:30] neura-sx opened #519 "The [FAV MARKETS] / [ALL MARKETS] tabs don't work when accessed for the very first time."
[Chrome / Win 7] & [Firefox / Win 7]
[version 2.0.151119]

The [FAV MARKETS] / [ALL MARKETS] tabs are not working properly when a user tries to access the GUI for the very first time. None of them is selected and there is empty space below.
The same refers to [HISTORY] / [ALL HISTORY] tabs.

[2015-11-23 08:36] neura-sx opened #520 "App crashes on the market page - argument is not an object id"
[Win 7 / Firefox]
[version 2.0.151119]

An attempt to access a market, e.g.
https://bitshares.openledger.info/#/market/BTS_USD
crashes the GUI as seen in the following screen-shot:

![ol crash](https://cloud.githubusercontent.com/assets/11573977/11332302/f62e76f4-91c4-11e5-9b1e-0ce37d4c3124.png)

[2015-11-23 08:54] #519 closed, assigned to svk31

[2015-11-23 08:55] svk31 commented on #520
I can't reproduce this, it works fine for me. (OSX, Firefox v41.0.2)

[2015-11-23 09:00] neura-sx opened #521 "The Deposit/Withdraw functionality should be organized in a similar way to markets"
The current approach to the Deposit/Withdraw functionality currently looks very chaotic in terms of UX.
Firstly, there is this artificial split between Bridges and Gateways.
Secondly, each service provider seems to have its own concept of UI (specific to its service) which looks very inconsistent when viewed on a single page.

What I propose is to have the Deposit/Withdraw functionality organized

[2015-11-23 09:32] neura-sx commented on #520
Can someone confirm it on Win 7 / Firefox ?

[2015-11-23 11:01] svk31 commented on #383
This is available now, closing

[2015-11-23 11:01] #383 closed, assigned to svk31

[2015-11-23 11:32] luckybit2014 opened #522 "Show stake percentages at all times in wallet"
Anywhere that we currently see "Balances" with phrases like "Equivalent Value" or "Amount" we should replace or put next to it "Percentage Stake. If next to an asset you know exactly how much BTS is the equivalent value it psychologically encourages the viewer to immediately dump the asset to claim the value. It's bad psychology for the wallet if you want to encourage increased stakeholder ownersh

[2015-11-23 11:46] luckybit2014 commented on #522
I would say perhaps even better would be just to implement the change and remove the "Equivalent Value" field altogether unless the value is in USD or some other stable currency. It provides arbitrary information like how much BTS something is worth but then the individual has to know how much that is worth in USD if they are trying to preserve USD value. So what do we even gain with that? I'm not

[2015-11-23 13:31] wmbutler commented on #329
@valzav may need your help getting this bug assigned and worked. It's been around for a while and there don't seem to be any takers.

[2015-11-23 13:32] wmbutler commented on #507
I'll give this to you @svk31

[2015-11-23 13:36] wmbutler commented on #515
I really need to get a test env setup, but haven't yet and not sure I'm clear on how to.

[2015-11-23 13:40] svk31 commented on #487
This is a duplicate of #507.

Also, the Trade link does not appear until you either create an account or follow an account. I suggest closing this and tracking in 507 instead.

[2015-11-23 13:40] neura-sx opened #523 "Account drop-down options are inconsistent with selected third-party account"
On the market page, the drop-down options are limited to your own accounts (which makes sense) but it is possible to land on this page with somebody else's account selected via the dashboard (in this case I selected fav). This makes it inconsistent with the options available in the drop-down.

![04](https://cloud.githubusercontent.com/assets/11573977/11337720/57eaa384-91ef-11e5-976c-f6871f9ac7e2.p

[2015-11-23 13:49] neura-sx commented on #272
In version 151119 ([Chrome / Win7] & [FF / Win7]) I don't see any improvement in this respect.

e.g. when I enter something into the filter text field on the explorer/witnesses page, then navigate away and come back to this page - the filter text field is always reset (i.e. it's empty).

Whereas on the explorer/accounts page it works as it should - I can enter a filter value and then navigate away

[2015-11-23 13:50] svk31 commented on #272
That's because it's not in that version, it's only live in master branch of graphene-ui.

[2015-11-23 14:01] wmbutler opened #524 "Tighten up Market right side panel"
This is mostly my fault but it's an easy fix. We need some consistency on the Market/Trade page in the right panel. Currently it's:

![screen shot 2015-11-23 at 8 37 19 am](https://cloud.githubusercontent.com/assets/1254810/11337786/9cf0d08e-91bd-11e5-8258-2caea558d773.png)

Let's change it to:

Notes:
- My Markets matches My History both on left tab
- horizontal lines dividing items
- mm/dd added

[2015-11-23 14:04] wmbutler commented on #301
@valzav This appears to be an old issue. Can you give some clarity?

[2015-11-23 14:05] wmbutler commented on #303
Need clarity here as well.

[2015-11-23 14:05] wmbutler commented on #380
I believe this works now.

[2015-11-23 14:05] #380 closed, assigned to wmbutler

[2015-11-23 14:07] svk31 commented on #524
I agree with the contrast for inactive/active tabs, matching all/my tabs and the lines between rows.

But the day/month is left out for a reason: lack of space.. There are already issues with overflow in this column. There's a tooltip though when you hover over the date that shows the full date.

[2015-11-23 14:11] svk31 commented on #522
I don't think showing value as a percentage is a good idea tbh, it sounds neat but quickly becomes unpractical. And for anyone other than a whale it's just meaningless. Yes you could show parts per million or something but again I don't think it would make sense to most people. To make things worse: bit assets supply is constantly changing, so you'd see your percentage vary on a daily and even hou

[2015-11-23 14:16] wmbutler commented on #469
Ultimately, we will want it in the fee field, but this is a major improvement.

[2015-11-23 14:17] svk31 commented on #461
This is a limitation of Highstock, the candlestick line width is tied to the border line width, if I make it thicker it looks like this:

![image](https://cloud.githubusercontent.com/assets/6890015/11338587/4b075cce-91f5-11e5-95ab-cac4331efbce.png)

That's worse imo so this won't be changed.

[2015-11-23 14:20] wmbutler commented on #512
Bumping this to current milestone since you already did work on it. I had originally placed this in next week's milestone. You will notice that when I add issues, I don't necessarily place them in the current milestone because they are quite often low priority compared to the other bugs and items in the current Milestone.

[2015-11-23 14:21] wmbutler commented on #447
@valzav This one is nagging. Can you please review?

[2015-11-23 14:23] svk31 commented on #497
The only reason this is an issue is because people are using graphene-ui with the BTS chain. In a recent commit I changed the variable in the SettingsStore to BTS instead of CORE so this should no longer be an issue. I suggest we simply leave it like that..

[2015-11-23 14:23] #497 closed, assigned to svk31

[2015-11-23 14:24] wmbutler commented on #375
I see this. It's just cosmetic. Moving it to mid-December.

[2015-11-23 14:26] wmbutler commented on #518
This is not present on the OS X version. Need to be tested on Win. Quick, easy fix for the right dev.

[2015-11-23 14:26] svk31 commented on #447
I did look at this a while back, but I couldn't get it right. The interaction between the the perfect scrollbar library and foundation flexbox is hard to get right. I think it's related to the height of the container which in this case is 100%, but not sure.

This is low priority for me though tbh, just use the scroll wheel or touchpad scrolling if you don't have a mouse..

[2015-11-23 14:28] wmbutler commented on #465
#521

[2015-11-23 14:29] wmbutler commented on #521
I think all of these points are addressed here: #465 Closing as duplicate. Please review #465 and add comments/concerns there.

[2015-11-23 14:29] #521 closed, assigned to wmbutler

[2015-11-23 14:32] wmbutler commented on #520
Added to 1202 Milestone. Need to reproduce on Win/Firefox

[2015-11-23 14:36] wmbutler commented on #523
I don't really see this as a huge issue. Obviously you can't make any trades if you don't own that account...need to think through the best way to handle it....maybe an icon next to the account that indicates it's not one of your accounts essentially disabling trade buttons, etc. Will slate this for UI in mid December.

[2015-11-23 14:37] #487 closed, assigned to wmbutler

[2015-11-23 14:38] wmbutler commented on #272
@neura-sx This will be in 1125 minus the Transfer State.

[2015-11-23 14:38] #272 closed, assigned to svk31

[2015-11-23 14:43] luckybit2014 commented on #522
The point is to encourage the people who are whales to want to stay whales. A whale is just a person who has a greater percentage stake than another person. While it might be nice if you could have maximum decentralization have everyone have a fraction of a percent stake, the fact is there will be whales who care about their percent stake.

But even for people who aren't a whale, if you hold 0.005

[2015-11-23 14:45] wmbutler commented on #522
I prefer being able to see the overall value of all my accounts in a preferred currency. Seems like this is the way to go. We do need to figure out where this number needs to be displayed.

If someone is a whale, they are doing the math in their head. I agree that we need ot make it easy for them to know the number of BTS outstanding, etc. but I'm not totally sold on displaying the percentage.

[2015-11-23 14:47] #461 closed, assigned to nobody

[2015-11-23 14:49] wmbutler commented on #447
@neura-sx we are closing this out for now. May revisit at a later date,

[2015-11-23 14:49] #447 closed, assigned to valzav

[2015-11-23 15:01] luckybit2014 commented on #522
@wmbutler If you're a whale who has a goal to own a specific percentage of Bitshares because you're a long term investor type instead of a day trader, then you will care about what percentage you're at.

Also the percentage will let you immediately know if Bitshares is going in the right direction. If fees are burning the percentage of shares you hold will increase over time and this information s

[2015-11-23 15:06] wmbutler commented on #522
Interesting. I tend to just care about the overall value of my investment in terms of buying power. I've tagged this as a discussion item.

[2015-11-23 15:35] wmbutler opened #525 "OS X Light Wallet Bug"
On main Dashboard, user can click on account to open it the first time, but after going to Dashboard and attempting to click on the account (or any other account) the user is no longer allowed in.

![screen shot 2015-11-23 at 10 33 13 am](https://cloud.githubusercontent.com/assets/1254810/11340820/ca5ca254-91cd-11e5-9e5b-78aa16d6f1a1.png)

[2015-11-23 15:45] svk31 commented on #522
You do make a good case for it even though I doubt there are all that many people out there who have as a goal to own a certain percentage of BTS :)

Either way this shouldn't be too hard to implement so I wouldn't mind adding it, at least as an alternative to the converted value that's shown in the account overview. Using it globally would be more complicated, in transfers and markets for example

[2015-11-23 16:13] svk31 commented on #453
Should these be visible for light clients and hosted wallets?

[2015-11-23 16:14] wmbutler commented on #453
Yes. It wouldn't be terrible for them to be on the web stuff as well. Might be easier and they could perform the same function as the back and forward buttons built into the browser. Your call though.

[2015-11-23 16:16] wmbutler commented on #522
@svk31 I've been struggling with where to display the total value of a wallet. Seems like it might go nicely on the the main menu to the left of the gear icon. I personally want to know the net worth of my wallet at all times.

[2015-11-23 16:17] svk31 commented on #453
Yep definitely easier so if that's ok I'll just add them without any logic for turning them off.

[2015-11-23 16:25] wmbutler commented on #522
Maybe here with a dropdown for BTS %, BTS, USD, CNY, EUR

Might be enough to satisfy the basics...

![screen shot 2015-11-23 at 11 23 58 am](https://cloud.githubusercontent.com/assets/1254810/11342312/b8edf552-91d4-11e5-9409-643c86026eae.png)

[2015-11-23 16:26] wmbutler commented on #453
Would be great if you could give them a hover state as well.

[2015-11-23 16:28] svk31 commented on #522
Yea that looks good to me, but in that case the percentage doesn't really make sense, unless you meant that it only applies to your BTS holdings?

[2015-11-23 16:31] wmbutler commented on #522
Correct. I thought that's what the OP was referring to....oh, yeah. Agreed. Leave the BTS% out of that and we can have that somewhere else.

[2015-11-23 16:34] kenCode-de commented on #453
Looks-wise, they should match all the other buttons in the ui like the Generate buttons you see in the Deposit/Withdraw screen. Mouseover effects should be subtle.

[2015-11-23 16:35] wmbutler commented on #522
@luckybit2014 what do we do about ridiculously small percentages...just display them anyway?

[2015-11-23 16:40] wmbutler commented on #453
So, more like this? Uglier but consistent :)

![screen shot 2015-11-23 at 11 39 53 am](https://cloud.githubusercontent.com/assets/1254810/11342762/f123b8ce-91d6-11e5-9313-81ca4edec922.png)

[2015-11-23 16:41] svk31 commented on #453
Yea I prefer the first one tbh

[2015-11-23 16:43] kenCode-de commented on #453
I love it, hover makes the light gray go to the same shade of white as the word Dashboard, or vise versa effect. No fill necessary.

[2015-11-23 16:44] kenCode-de commented on #453
They could be a tad smaller..

[2015-11-23 16:45] svk31 commented on #453
It is more consistent though as you say so I'll go with that

[2015-11-23 17:29] svk31 commented on #453
I've spent far too much time getting this right in terms of alignment etc so I don't wanna spend even more time getting the size right, I'm sure someone more css savy than me can get right... The functionality is there though.

![image](https://cloud.githubusercontent.com/assets/6890015/11344188/0ffbf8b8-9210-11e5-93d9-3a0cc23f72ad.png)

[2015-11-23 17:33] wmbutler commented on #453
It's fine. It's not technically a bug so leave it as is.

[2015-11-23 17:50] kenCode-de commented on #453
I'm still in love with it, thanx for adding it! :)

[2015-11-23 17:58] svk31 commented on #523
Sorry wmbutler but this was such an easy fix I just did it: if you've previously selected an account that isn't yours and then go to the trade page, that account will now be included in the dropdown.

[2015-11-23 17:59] #523 closed, assigned to wmbutler

[2015-11-23 18:07] #507 closed, assigned to svk31

[2015-11-23 18:15] #524 closed, assigned to svk31

[2015-11-23 18:17] svk31 commented on #525
This sounds very strange, can you post steps to reproduce please? What does "allowed in" mean in this case?

[2015-11-23 18:29] svk31 commented on #233
Parts of it have been adressed and many changes have been made to the Modal since that time, so I'd say the Modal is good enough as is. As there are more important things to work on I'm pushing this back a couple milestones.

[2015-11-23 19:11] valzav commented on #522
I support the idea to show BTS percentage owned by users. This way we stress out that user own a certain amount of stake in Bitshares DAC and has right to vote on different issue and participate in DAC's government.

[2015-11-23 19:31] clayop opened #526 "Cannot find some markets"
E.g. OPENMUSE:OPENBTC

[2015-11-23 19:35] valzav commented on #453
I think back and forward buttons need to be shown only in light wallets, in a browser they just duplicate browser's buttons. What do you think?

[2015-11-23 19:42] svk31 commented on #526
Duplicate of #511, already fixed.

[2015-11-23 19:42] #526 closed, assigned to svk31

[2015-11-23 20:31] svk31 commented on #329
Looks to me like the first part (incorrect core rate) was already handled, I've added a check to make sure the fee pool has sufficient balance, if it doesn't we fall back to fees paid in BTS.

[2015-11-23 20:40] wmbutler commented on #525
Clicking on a 'card' shown above (the second time) does not result in any action being performed. You just continue to see the card view.

[2015-11-23 20:41] wmbutler commented on #233
Sounds good. @theoreticalbts can you make a note to review this after 1225 is released to let us know if this is resolved in you opinion?

[2015-11-23 20:42] wmbutler commented on #522
Sounds good. I'll work up a UX.

[2015-11-23 20:44] wmbutler commented on #453
Well, in the interest of time, I don't see the harm in displaying them in the web as well. But feel free to make the call.

[2015-11-23 20:50] svk31 commented on #522
I decided to have a quick look, took me 5 minutes finally to make this:
![image](https://cloud.githubusercontent.com/assets/6890015/11349373/301c3ace-922c-11e5-850f-4db7b74961f7.png)
I have to admit it can actually be quite interesting.

[2015-11-23 21:00] wmbutler commented on #522
Nice!

[2015-11-23 21:10] wmbutler commented on #357
Let's have a card in the Explorer tab that links off to Cryptofresh for an easy win and circle back later.

![screen shot 2015-11-23 at 4 05 03 pm](https://cloud.githubusercontent.com/assets/1254810/11349891/b857de3c-91fc-11e5-9c82-4d6fed8125ae.png)

[2015-11-23 21:12] wmbutler commented on #506
If I were going to write this up, @valzav where would I do it? Need a definitive place to put things that will help users.

[2015-11-23 21:13] valzav commented on #506
http://docs.bitshares.eu/meta/index.html#contributing-to-this-documentation

[2015-11-23 22:03] neura-sx commented on #519
Maybe I need to specify this bug a bit more: this happens when you attempt to access the GUI in a browser which has never used the GUI before. So it only happens for the very first time and then does not happen again (I guess it's because some cookie data gets created).

[2015-11-23 22:53] wmbutler commented on #519
Well, looks like a fix was added for 1125, so re-open it if it's still present after 1125 is released.

[2015-11-23 23:10] wmbutler opened #527 "More small tweaks to My History"
- [x] Match reds and greens for up and down price action (same shades of red and green as in the markets)
- [x] Look at logic for color change (I would assume that red means the price has gone down relative to the previous trade and green means it has gone up. There are some inconsistencies apparent in the screenshot below.

![screen shot 2015-11-23 at 6 06 49 pm](https://cloud.githubusercontent.c

[2015-11-24 00:58] b33lz38v8 commented on #520
my wallet becomes unresponsive when clicking on certain starred markets. could it be related?
win10/chrome

[![starred markets bug](http://img.youtube.com/vi/3zf5gYzuBOE/0.jpg)](http://www.youtube.com/watch?v=3zf5gYzuBOE)

[2015-11-24 01:06] wmbutler commented on #520
@b33lz38v8 can you say which markets so we can attempt to reproduce?

[2015-11-24 01:12] wmbutler opened #528 "Market %change and volume do not match"
![screen shot 2015-11-23 at 8 10 35 pm](https://cloud.githubusercontent.com/assets/1254810/11354935/731860ae-921e-11e5-80e5-a8f7a6039821.png)
![screen shot 2015-11-23 at 8 10 28 pm](https://cloud.githubusercontent.com/assets/1254810/11354936/7323f446-921e-11e5-8c93-3ce411e40ef9.png)

[2015-11-24 01:18] wmbutler commented on #482
Does this fit in with #522 @svk31 ?

[2015-11-24 01:19] #506 closed, assigned to wmbutler

[2015-11-24 01:20] wmbutler commented on #512
Might be enough to satisfy the basics...

![screen shot 2015-11-23 at 11 23 58 am](https://cloud.githubusercontent.com/assets/1254810/11342312/b8edf552-91d4-11e5-9409-643c86026eae.png)

[2015-11-24 01:21] noisy commented on #528
I think, values are correct, at least in my wallet. Once is for USD:BTS, second is BTS:USD.

![selection_001](https://cloud.githubusercontent.com/assets/201263/11355023/ae3d585a-9251-11e5-872c-bfef2a654893.png)

However I see from you screenshots, that you have different values for this same pair, right?

[2015-11-24 01:21] wmbutler commented on #494
Moving this 1209 Milestone. I need to UX this. I'd like to consider getting away from the 'cards' view.

[2015-11-24 01:22] wmbutler commented on #58
I don't know what this item means or is it's been completed.

[2015-11-24 01:27] b33lz38v8 commented on #520
they are listed in the video description along with the console errors. but here you go:

BTC:CNY
BTS:EUR
BTS:USD
BTS:SILVER
METAEX.BTC:BTC
BTS:CNY
BTS:BTC
BTC:USD
TRADE.BTC:BTC
BTS:GOLD

[2015-11-24 01:30] wmbutler commented on #520
Your report indicated that your browser became unresponsive on **certain** markets. I was hoping you could say which markets caused this behavior. Are you saying that all markets cause this behavior?

[2015-11-24 01:34] wmbutler commented on #520
Can you display your console when performing these actions since I can't reproduce:

Developer Tools:

![screen shot 2015-11-23 at 8 33 27 pm](https://cloud.githubusercontent.com/assets/1254810/11355247/8630069e-9221-11e5-9fd4-aa70f3810db4.png)

[2015-11-24 01:39] b33lz38v8 commented on #520
default starred markets.

causing error:
BTC:CNY
BTS:EUR
BTS:USD
BTS:SILVER
METAEX.BTC:BTC
BTS:CNY
BTS:BTC
BTC:USD
TRADE.BTC:BTC
BTS:GOLD

properly working:
BTS:TRADE.MUSE
BTS:OPENMUSE
BTS:TRADE.BTC
BTS:OPENBTC
BTS:METAFEES
BTS:OBITS
BTS:METAEX.BTC

[2015-11-24 01:55] wmbutler commented on #520
Still can't reproduce. Would be helpful to see the output of your console under developer tools.

![screen shot 2015-11-23 at 8 54 55 pm](https://cloud.githubusercontent.com/assets/1254810/11355633/7d65d658-9224-11e5-873b-e20daa1f4561.png)

[2015-11-24 02:06] clayop opened #529 "Market Volumes in the Same Unit"
Currently, market volume stats have different units depending on pairs. This is really confusing and incorrect. IMO, all market volume should be converted into BTS.

[2015-11-24 02:16] b33lz38v8 commented on #520
@wmbutler
[![console errors](http://img.youtube.com/vi/VmgWe6WURfg/0.jpg)](http://www.youtube.com/watch?v=VmgWe6WURfg)

[2015-11-24 02:34] b33lz38v8 commented on #520
loading...
[![console errors](http://img.youtube.com/vi/OSGQg5h57OM/0.jpg)](http://www.youtube.com/watch?v=OSGQg5h57OM)

[2015-11-24 06:48] svk31 commented on #357
Yes I like that. Your icon's OK but since Cass made all the others I'd prefer if he made this one too, to keep them consistent. @cassiopaia ?

[2015-11-24 06:51] svk31 commented on #527
The market history colors don't indicate price change, they indicate whether the triggering order was an ask or a bid. That's why it used the same colors as the depth chart and orderbook.

The trailing zeros: you want them white?

[2015-11-24 06:53] svk31 commented on #482
Unrelated but I could add that as well, the table needs more columns anyway.

[2015-11-24 07:01] svk31 commented on #528
Yes they're correct, simply inversed. Going from 10 to 20 is a 100% increase, while the inverse, going from 0.1 to 0.05, is a 50% decrease.

[2015-11-24 07:01] #528 closed, assigned to svk31

[2015-11-24 07:03] svk31 commented on #528
Oh looking more closely at your pictures I see there's something strange, but it might be due to the two being out of sync. They have different refresh cycles, the status bar values will always be in sync with the market but the market list ones might fall out of sync (but I recently added a 2 minute refresh cycle for them).

I've had  a quick look on my end and the values are all the same for me.

[2015-11-24 07:08] svk31 commented on #529
Yes, I initially wanted to at least sort them by BTS equivalent value, or do it like you say, but the conversion component was broken. I've since fixed it so I could add this now. Anyone else have an opinion on this issue?

[2015-11-24 07:12] svk31 commented on #520
Are you running the latest version? I suspect your issue is related to an issue that was fixed this weekend, that only concerns bit assets which is your case.

https://github.com/cryptonomex/graphene-ui/commit/c295d96deb43852f990ad6a9c2370413b3eaba40

[2015-11-24 07:43] kenCode-de commented on #522
Possible to add one more row to that table that totals up the equivalent value column? Call it "Total Value" or "Net Worth" or something?

[2015-11-24 07:48] kenCode-de commented on #453
When it comes to supporting a customer with Technical Support, the Rep must be able to assume a consistent interface when speaking with the customer over the phone. For example, the Rep will say (do you see the left and right arrow buttons in the top right corner next to the word Dashboard?

If each wallet version starts looking different, light wallets vs web wallets etc, it will make Tech Suppor

[2015-11-24 08:01] xeroc opened #530 "Support for high latency connections"
This guy has a satellite connection and can't get passed init-error due to high latency
https://bitsharestalk.org/index.php?topic=20185.msg259870;topicseen#new

[2015-11-24 08:58] svk31 commented on #529
Does it make sense to show BTS volume for a market like BTC:USD for example though?

[2015-11-24 09:10] luckybit2014 commented on #522
@wmbutler Just display it anyway. Information is valuable and even if it is a ridiculously small percentage, display it if it can be displayed. If a person holds less than 1 BTS or something then maybe don't display that if you want to set a reasonable limit but more than 1 BTS and display it.

[2015-11-24 09:11] luckybit2014 commented on #522
@svk31 Your mockup is exactly what I had in mind. Thanks!

[2015-11-24 09:13] svk31 commented on #522
It's not a mockup it's the real thing, going live tomorrow ;)

[2015-11-24 09:13] luckybit2014 commented on #522
Excellent, you guys are fast.

[2015-11-24 09:30] kenCode-de commented on #465
Right now in light wallet v2.0.151119 the Deposit/Withdraw screen is a mess with all the Bridges and Gateways starting to appear.

I love the layout above using drop-down select menus instead. Sort them alphabetically too so that we do not play favorites with any one of them. The white arrow buttons are not consistent, so make those consistent with svg's back/forward button designs for consistency

[2015-11-24 10:00] c055 commented on #357
yep will do

[2015-11-24 11:53] c055 commented on #357
![bildschirmfoto 2015-11-24 um 12 53 02](https://cloud.githubusercontent.com/assets/6280810/11365940/54822f30-92aa-11e5-93f8-db5ff174c278.png)

[2015-11-24 11:53] c055 commented on #357
top left icon...

[2015-11-24 11:57] svk31 commented on #357
Works for me!

[2015-11-24 12:38] b33lz38v8 commented on #520
i'm on latest commit:
9e98eee2ee37838eab3f682073efdf2eb69ac232

[2015-11-24 13:25] svk31 commented on #525
I've never seen this nor can I reproduce it on my own Mac.

If you can reproduce it, please open the dev tools and see what it says in the console.

View -> Toggle DevTools

[2015-11-24 13:31] svk31 commented on #520
@b33lz38v8 I've gone to your site and it all works fine for me.

[2015-11-24 13:51] wmbutler commented on #527
I get the ask or bid. Still would be nice if we used more standard colors but I'm not too hung up on it.

I would make every digit in the numbers the same color....or maybe this is a precedent I'm not familiar with?

[2015-11-24 13:52] wmbutler commented on #453
I'm fine with the duplicated controls.

[2015-11-24 13:55] wmbutler commented on #530
Fringe case, but worth a peek if it's just the initial load. I doubt this is a simple setting of MAX_LATENCY. Pushing this to late December for discussion.

[2015-11-24 13:56] wmbutler commented on #529
This is a tough issue. Wonder if @bytemaster might weight in on this.

[2015-11-24 14:06] wmbutler commented on #525
Reproduce OSX LightWallet
- Quit OS X lite client
- Open OS X Lite client
- Click on your account that has a **zero balance** card from the Dashboard
- Click on Trade

From this point on, my client is essentially frozen. And this error repeats:

![screen shot 2015-11-24 at 9 06 07 am](https://cloud.githubusercontent.com/assets/1254810/11368978/a43c48fa-928a-11e5-94c4-89accc2aaddc.png)

[2015-11-24 14:12] wmbutler commented on #525
Same bug as #520 This happens when the account in question has no funds and attempts to go to the Trade page.

[2015-11-24 14:36] valzav commented on #58
Let's close it for now - it looks like this is less required feature.

[2015-11-24 14:36] #58 closed, assigned to valzav

[2015-11-24 15:57] #482 closed, assigned to svk31

[2015-11-24 16:18] #520 closed, assigned to svk31

[2015-11-24 16:18] #525 closed, assigned to svk31

[2015-11-24 19:16] kenCode-de opened #531 "Issued Assets are not displaying, sometimes"
In the Linux Light Wallet, v2.0.151119 click on an account that has registered at least 1 UIA.
Then click on Assets in the left menu.
No assets show up in the main frame panel (sometimes).
I can't figure out how to reproduce this error. Sometimes my uia's show up, sometimes they don't.

[2015-11-24 21:32] svk31 commented on #512
I've made a new component that calculates equivalent values for all balances in the desired asset. For now there's no dropdown to select your desired currency so you'll have to set it in the settings, but I can add that later.

[2015-11-24 21:33] svk31 commented on #512
![image](https://cloud.githubusercontent.com/assets/6890015/11381265/6079ab1e-92fb-11e5-9790-4f2098b43982.png)

[2015-11-24 22:26] wmbutler commented on #512
Slick.

[2015-11-24 22:30] jonnybitcoin commented on #405
yes please just add a simple trollbox asap. irc is fine and it must display on the trading page. This is a free form of customer service for us all.

[2015-11-24 22:33] svk31 commented on #527
It used to be that way and it was very hard to read the numbers, I find it's much better this way. It's inspired by Coinbase's exchange, but it has to work a bit differently since we have so many assets with different precisions and valuations..

[2015-11-24 22:36] svk31 commented on #416
Closing since it's been refactored and the row is clickable now anyway.

[2015-11-24 22:36] #416 closed, assigned to nobody

[2015-11-24 23:04] wmbutler commented on #527
OK,

How about this as a compromise. I think the odd colored zero's need to be less visible. If you look at coinbase, the contrast is waay down.

Coinbase:
![screen shot 2015-11-24 at 6 01 08 pm](https://cloud.githubusercontent.com/assets/1254810/11383322/65b55fae-92d5-11e5-961d-5c5c8213e89d.png)

Us:
![screen shot 2015-11-24 at 6 02 19 pm](https://cloud.githubusercontent.com/assets/1254810/113833

[2015-11-24 23:32] wmbutler commented on #405
Seems like trying to build the whole trollbox on the blockchain is admirable but maybe trying to do too much at once. What if we just api into an existing infrastructure for the first iteration, otherwise, waiting until some other items are in place and putting this in mid-January.

[2015-11-24 23:33] wmbutler commented on #416
Also, highlighting active row was already added and will be release with 1125

[2015-11-25 00:00] #493 closed, assigned to wmbutler

[2015-11-25 00:03] svk31 commented on #493
I've added it as a modal, triggered by clicking on the Settle button that you can see in the background. I also rearranged the table a little cause I felt it fit better like that, but feel free to suggest another arrangement @wmbutler

Could probably use a bit of help text too.

![image](https://cloud.githubusercontent.com/assets/6890015/11384447/3277a850-9310-11e5-8681-d0731c4baf99.png)

[2015-11-25 00:03] #450 closed, assigned to svk31

[2015-11-25 00:03] #512 closed, assigned to svk31

[2015-11-25 00:03] #522 closed, assigned to wmbutler

[2015-11-25 00:04] #453 closed, assigned to svk31

[2015-11-25 02:25] jonnybitcoin commented on #494
I've got loads of accounts i'm name squatting yet only use one which i have scroll for ages to find each time I click the dasboard. you should be able to choose a "primary account" that is always at the top.

[2015-11-25 07:45] c055 commented on #494
https://github.com/cryptonomex/graphene-ui/issues/494#issuecomment-159121359

mh i don't know if we talk about same UI section ...i'm not talking about the Dashboard section ..

it's Account Detail > Overview > ...

[2015-11-25 12:06] c055 commented on #515
on which system u are working?

[2015-11-25 12:45] xeroc commented on #357
https://github.com/cryptonomex/graphene-ui/tree/FeeSchedule

[2015-11-25 14:09] wmbutler commented on #494
I have some ideas on this.

[2015-11-25 14:09] wmbutler commented on #515
OS X

[2015-11-25 15:02] #357 closed, assigned to svk31

[2015-11-25 16:44] svk31 commented on #527
I don't see why we can't have our own colors, and at the end of the day the color scheme is up to the hosting party anyway, like OL has different colors for most things. I'll make the zeros less prominent at least.

[2015-11-25 18:44] kenCode-de opened #535 "Blocktrades Bridge bug?"
Is this a bug?
http://i.imgur.com/M7tCEyy.png

[2015-11-25 19:41] #397 closed, assigned to wmbutler

[2015-11-25 19:57] #515 closed, assigned to svk31

[2015-11-25 19:57] #505 closed, assigned to svk31

[2015-11-25 19:57] #329 closed, assigned to svk31

[2015-11-25 19:57] #469 closed, assigned to svk31

[2015-11-25 21:51] #499 closed, assigned to svk31

[2015-11-25 23:15] dnotestein commented on #535
The older version of this page defaulted to LTC rather than BTC. Is that what you mean? If so, the updated version of the code defaults to BTC pricing info now. If it's something else at issue, please let me know.

[2015-11-26 01:20] b33lz38v8 opened #536 "Create New Account should hide after clicking on "plus-circle""
![image](https://cloud.githubusercontent.com/assets/15835208/11412563/456eeeae-93ac-11e5-90e9-16a9138e4a00.png)

[2015-11-26 02:21] clayop opened #537 "Additional Information on Buy/Sell Button"
Now, buy and sell button is confusing because the buttons don't tell what asset is sold or bought.
So, we can enhance these buttons by adding targeted asset.

For example, in BTS:BTC market, Buy -> Buy BTS, Sell -> Sell BTS.
In BTC:BTS market, Buy -> Buy BTC, Sell -> Sell BTC.

[2015-11-26 04:36] clayop opened #538 "Price Chart Layout Suggestion"
Problem: Upper information (T, OHLC, V) and bottom volume chart is too big.
Suggestions:
1. Adjust the ratio of price chart to volume chart to 3.5 : 1
2. Locate 1d ~ 15s buttons next to 24h change
3. Put indicator button left to Market Depth button
4. Arrange T, OHLC, and V in a line

I think Bitcoinwisdom is an examplar.

https://bitcoinwisdom.com/markets/bitfinex/btcusd
https://tradeblock.com/ma

[2015-11-26 04:57] clayop commented on #538
![chart](https://cloud.githubusercontent.com/assets/9971632/11415394/190565a4-93b7-11e5-9f87-dae9be4d220b.jpg)

[2015-11-26 05:10] clayop commented on #538
Add: Can the volume chart be one of the indicators? (meaning that users can on/off the volume chart. But the default is on)

[2015-11-26 07:13] kenCode-de commented on #535
No, sorry I mean the fields look like they have been duplicated. I'm confused, are those fields supposed to be displayed twice like that?

[2015-11-26 07:26] svk31 commented on #538
Edit: I don't think I'll put the tooltip in a line, it causes issues with readability and text jumping due to different amount of integers. Same for the indicator button/bucket size selector , they can't go up there because there's no space. In some cases you'll have two borrow buttons and a small screen, I already had to move the account selector due to lack of space.

I can make the volume chart

[2015-11-26 07:32] svk31 commented on #536
There was an old issue for this that I guess got closed. I was never able to reproduce this myself though.

[2015-11-26 08:50] bitsacer opened #539 "Turkish ui buttons stop responding."
I switch it few times between EN and TR and on TR buttons dont respond , specially membership and permissions but generally almost all gets stuck, not responding

[2015-11-26 08:58] bitsacer opened #540 "Not Collected For Translation"
These have not been collected for translation
Boxes on trading view, "BORROW USD", "INDICATORS"
On explore window new addition FEES
Fees section ,
"fauacet adress"

[2015-11-26 10:52] xeroc opened #543 "core_exchange_rate should be setable to zero when creating an asset"
https://bitsharestalk.org/index.php/topic,20263.msg260990.html#msg260990

[2015-11-26 11:57] todasun opened #544 "can't save language config@light client BitShares-light_2.0.151125.exe"
first start  enligh GUI
I swith to  chinese
close the bitshares GUI
then open the GUI again
the GUI still English  not chinese
os:win10 64bit chinese

[2015-11-26 13:15] #536 closed, assigned to nobody

[2015-11-26 14:00] wmbutler commented on #472
Closing since this issue is orphaned with no comments.

[2015-11-26 14:00] #472 closed, assigned to jcalfee

[2015-11-26 14:00] wmbutler commented on #39
Closing since there have been no comments or activity in 14 days.

[2015-11-26 14:00] #39 closed, assigned to jcalfee

[2015-11-26 14:13] svk31 commented on #544
You don't need to refresh or do anything other than choose a new language from the dropdown, it then changes immediately. It works for me in Chrome on OSX, are you using the light client?

[2015-11-26 14:22] todasun commented on #544
yes  light client BitShares-light_2.0.151125.exe

[2015-11-26 14:29] wmbutler commented on #537
I think this is a great idea. Right now the only way the user knows which asset they are purchasing is from the Buy line. It would be nice to reinforce which asset is being purchased.

Current Look:
![screen shot 2015-11-26 at 9 17 48 am](https://cloud.githubusercontent.com/assets/1254810/11424865/aa95ed1a-941e-11e5-95e3-b92543702e61.png)

Proposed Look:
![screen shot 2015-11-26 at 9 28 42 am](htt

[2015-11-26 14:32] wmbutler commented on #538
@svk31 I have a whole UX for this page. Should I post it here? It basically makes this page cleaner with the same functionality. I modeled largely on the BitcoinWisdom page because I personally love how things are displayed there.

[2015-11-26 14:40] wmbutler commented on #539
Confirmed. Reproduce:
- Change language to Turkish
- Go to Dashboard
- Pick and account card
- Click on Membership (3rd one down)

![screen shot 2015-11-26 at 9 38 22 am](https://cloud.githubusercontent.com/assets/1254810/11425271/aa70951c-9421-11e5-9e40-78abfd668464.png)

[2015-11-26 14:43] wmbutler commented on #536
It used to be a bug but it's def gone now!

[2015-11-26 14:48] wmbutler commented on #385
I think this one can be closed.

[2015-11-26 14:49] wmbutler commented on #475
Closing this. @jcalfee

[2015-11-26 14:49] #475 closed, assigned to jcalfee

[2015-11-26 14:53] wmbutler commented on #415
Now, the question becomes can we reasonably allow a  user to set their preferred order per trading pair. Do we just make that passive so we remember their preference across all screens once they have selected it on one screen? Seems like the easiest way.

[2015-11-26 15:39] bitsacer commented on #539
see here https://youtu.be/l2EXbcH93d0 , lightwallet in Turkish not responding

[2015-11-26 15:41] wmbutler commented on #527
Closing and letting this be handled by #538

[2015-11-26 15:41] #527 closed, assigned to svk31

[2015-11-26 15:41] wmbutler commented on #538
There is a lot going on here, but I think this UX introduces a few things that end users will appreciate (I lifted much of this design from bitcoinwisdom).
- [ ] Display the time intervals all the time rather than hiding them behind a gear (chosen range is in blue)
- [ ] Draw thin grey borders to visualize logical separators and structure. Our current design, while functional, feels a little loose

[2015-11-26 15:47] wmbutler commented on #381
Is this request satisfied? Please close if so.

![screen shot 2015-11-26 at 10 46 45 am](https://cloud.githubusercontent.com/assets/1254810/11426563/00fc433c-942b-11e5-8c48-c8bd4b4b17c3.png)

[2015-11-26 15:48] #429 closed, assigned to nobody

[2015-11-26 15:50] wmbutler commented on #531
Still having issues or is this resolved with 1125 @kenCode-de ?

[2015-11-26 15:51] wmbutler commented on #356
@jcalfee Will you be able to commit to this in 1202 or does it need to get pushed further out?

[2015-11-26 15:52] wmbutler commented on #473
This looks like it's complete. Closing it.

[2015-11-26 15:52] #473 closed, assigned to jcalfee

[2015-11-26 15:57] wmbutler commented on #544
Confirmed this. Just happens on the lite client. Web client is fine.

[2015-11-26 15:59] kenCode-de commented on #531
The assets are showing now. Tomorrow, who knows..

[2015-11-26 16:15] wmbutler commented on #531
Re-open if you need to. Closing.

[2015-11-26 16:15] #531 closed, assigned to nobody

[2015-11-26 16:56] clayop commented on #538
This is great and much better than my coarse one!
But you might miss the "indicator" button next to time interval. :)

[2015-11-26 17:49] svk31 commented on #538
Me like. One thing though: the colors should not imo be the same everywhere, although I realize the current implementation isn't correct really either. If you go to bitcoinwisdom you'll notice they also have two shades of red and two green: one pair for up/down; one for ask/bid. In the order history it should be ask/bid color, while the chart should have up/down colors, as should the volume/price

[2015-11-26 18:41] abitmore commented on #356
Wouldn't we'll have the feature "pay by receiver"? It's conflict to this issue.

[2015-11-26 20:58] neura-sx opened #545 "Active account name is missing on the top toolbar of the market page"
[Chrome/Win7]
[release 151125]

When you access a market from explorer/markets, the market page is not displaying the active account name.

![05](https://cloud.githubusercontent.com/assets/11573977/11430529/594179b0-9488-11e5-9abc-a65918f3c023.png)

[2015-11-26 21:07] neura-sx opened #546 "Many URLs in the GUI are not clickable"
Every single URL should be interactive in a browser-based GUI.

![u1](https://cloud.githubusercontent.com/assets/11573977/11430609/a227144a-9489-11e5-8c02-b8f918bfe362.png)
![u2](https://cloud.githubusercontent.com/assets/11573977/11430611/a2546c10-9489-11e5-9d63-5627c199f8fb.png)
![u3](https://cloud.githubusercontent.com/assets/11573977/11430610/a2531888-9489-11e5-9100-9cbbd4b08e1a.png)
![u4](htt

[2015-11-26 21:16] svk31 commented on #545
It's an account selector so it only appears if you have more than one account.

[2015-11-26 21:17] svk31 commented on #545
That being said we should rethink the relationship between followed accounts and linked accounts, currently any account you browse to becomes your current account, which shouldn't be the case. Imo current accounts should only be chosen from accounts you control.

[2015-11-26 21:24] #518 closed, assigned to svk31

[2015-11-26 21:27] c055 commented on #415
https://github.com/cryptonomex/graphene-ui/issues/415#issuecomment-159932192

+1

[2015-11-26 21:32] svk31 commented on #537
I remember why I removed this now:
![image](https://cloud.githubusercontent.com/assets/6890015/11430880/9b47b5f4-948d-11e5-9714-7271d76f50d7.png)

[2015-11-26 22:06] neura-sx opened #547 "Unnecessary scroll-bars on the Create Asset confirmation screen"
![06](https://cloud.githubusercontent.com/assets/11573977/11431152/2737fc46-9492-11e5-83ab-425567ca603e.png)

[2015-11-26 22:35] c055 commented on #547
windows, right?

[2015-11-26 23:40] neura-sx commented on #545
Nope, the behavior I described is clearly a bug. When you reload the page the active account name shows up on the top toolbar as it should. It just fails to show up when you access the page from explorer/markets.

[2015-11-26 23:41] neura-sx commented on #547
Yes, Chrome / Win7

[2015-11-26 23:46] neura-sx commented on #385
This is "nice-to-have" kind of feature but I agree - if it's not easily fixable it should be closed.

[2015-11-26 23:50] neura-sx commented on #381
Yes, I think it's satisfying as it is.
You can always flip the market to see the totals expressed in the other currency.

[2015-11-26 23:50] #381 closed, assigned to wmbutler

[2015-11-27 00:27] neura-sx opened #548 "Misplaced layout for asset details page"
Firefox / Win7
release 151125

All elements are there but there is huge vertical spacing between them.
Happens in FF only, in Chrome works fine.

![ass](https://cloud.githubusercontent.com/assets/11573977/11432054/06a36f42-94a6-11e5-9110-f8f7082f0cf1.png)
![ass2](https://cloud.githubusercontent.com/assets/11573977/11432053/06a31fd8-94a6-11e5-83d5-b6c5a5c1fa79.png)

[2015-11-27 00:48] neura-sx opened #549 "Unstyled (or misplaced) UI elements on the market page"
Firefox/Win7
2.0.151125

There are probably unintended (or badly styled) UI elements as part of the text input fields.
Happens only in FF/Win 7, in Chrome those elements do not show up at all.

![ff](https://cloud.githubusercontent.com/assets/11573977/11432149/164e5ea0-94a8-11e5-9a4f-41a42696f9ab.png)

[2015-11-27 00:53] neura-sx opened #550 "Empty price history chart for small time intervals"
FF/Chrome on Win7
2.0.151125

When you choose very small time intervals, the price history chart is completely empty. It should show a row of empty candles, not empty space. It's very confusing for the user on low liquidity markets - s/he expects to see a chart and there is just empty space.

![empty](https://cloud.githubusercontent.com/assets/11573977/11432193/f1c8324e-94a8-11e5-915d-60c55ed5e0af

[2015-11-27 00:59] neura-sx opened #551 "Misplaced line below My History headers"
Chrome/Win7
2.0.151125

This is a cosmetic bug - there is a fragment of a random line below My History headers.
Happens only in Chrome, in FF this line is placed properly.

![line](https://cloud.githubusercontent.com/assets/11573977/11432230/a6f4850a-94a9-11e5-823a-cbb6d68c4d42.png)

[2015-11-27 02:32] wmbutler commented on #537
I'll keep working on this... there should be an elegant solution.

[2015-11-27 02:33] wmbutler commented on #545
So, let's work this one as a bug, but I still kind of like the idea of allowing a user to star accounts and have only the starred accounts show up in the dropdown. It puts the power in the hands of the user.

[2015-11-27 02:35] wmbutler commented on #385
Closing....bigger fish to fry :)

[2015-11-27 02:35] #385 closed, assigned to svk31

[2015-11-27 02:38] wmbutler commented on #548
I would vote to roll this into #474 and put a Browser Not Supported here until we can fully support. Seems to me like we need to focus in on one browser for now and then roll browser support out after we add features. It's not that big of a deal to say we only support Chrome for now. Unless there are some flavors of UNIX without a Chrome Browser.

[2015-11-27 02:38] wmbutler commented on #548
Close if you are ok with this as a compromise @neura-sx

[2015-11-27 02:40] wmbutler commented on #549
That's how FF handles number fields. This falls under #474 in IMO. I really hope you agree. @neura-sx

[2015-11-27 02:42] wmbutler commented on #550
#474 Let's stop FF support for now, at least until we get things working perfectly in Chrome.

[2015-11-27 02:45] wmbutler commented on #551
Confirmed bug. This happens when there are 0 items in My History.

[2015-11-27 03:17] rngl4b commented on #540
My bad, github <--> transifex integration server has been down for a couple of days. It's fixed now, new contents                   should be available on transifex.

Besides that, in this fast commit/release stage some fix and feature branches may be merged into Master (from where we pull language sources) very close  to the release time. In such cases it's more likely to have those translations

[2015-11-27 03:21] wmbutler commented on #540
ok, so are we good here? Please close if yes.

[2015-11-27 03:26] rngl4b commented on #540
My bad, github <--> transifex integration server has been down for a couple of days. It's fixed now, new content is available on transifex.

Besides that, in this fast commit/release stage some fix and feature branches may be merged into Master (from where we pull language sources) very close  to the release time. In such cases it's likely to have some translations available one release later.

[2015-11-27 03:36] rngl4b commented on #540
By the way, I would not suggest any change to the development process to improve translation timing at this point, as it will be solved when a Stable branch becomes appropriate.

[2015-11-27 07:21] svk31 commented on #545
Ah yea I think I see why this is happening, the current "active route" implementation is a bit hacky. Ideally we'd upgrade to react-router v1 which would simplify things but it breaks a lot of things unfortunately.

[2015-11-27 07:23] svk31 commented on #549
It's due to a CSS hack to remove the up/down arrows that apparently FF ignores, I can have a look to see if there's also a FF version.

[2015-11-27 10:16] neura-sx commented on #548
I'm OK.

[2015-11-27 10:16] #548 closed, assigned to svk31

[2015-11-27 10:18] neura-sx commented on #549
I agree with wmbutler. So it's up to svk to close this issue if there is no easy solution for the CSS hack.

[2015-11-27 10:23] neura-sx commented on #550
This an issue not related to a particular browser - I see it in both FF and Chrome.

[2015-11-27 10:35] neura-sx opened #552 "Orders page is completely empty"
When i have no open orders this page should say something like "You have no open orders".
Otherwise it looks like something is wrong.

It could also say something like this "To place orders you need to go to markets" and refer the user to the explorer/markets page.

![space](https://cloud.githubusercontent.com/assets/11573977/11439268/9b3dba14-94fa-11e5-9e3d-f9599dd77dd8.png)

[2015-11-27 15:18] neura-sx opened #553 "Vertical space on the market page is not used effectively"
Could we have the price history chart take up more vertical space when this space is available?
As we have it now, it seems like we are wasting a lot of space while the chart would look much nicer (and more dynamic) if it was able to be higher.

![space](https://cloud.githubusercontent.com/assets/11573977/11443953/defe6c5e-9521-11e5-93f4-9e3780587a57.png)

[2015-11-28 01:09] clayop commented on #552
The account test78 has no orders.
http://cryptofresh.com/u/test78

[2015-11-28 03:38] maqifrnswa opened #554 "Duplicate () constructor in AccountOverview.jsx"
Error below when building 2.0.15.1125

[code]

[2015-11-28 05:01] clayop commented on #538
For color shades, can we copy Bitcoinwisdom's color scheme? Their layout looks great and very legible.

[2015-11-28 08:01] bitsacer opened #555 "Definitions and explanations under voting not collected for translation"
Voting section has few definitions and explanations under tabs that were not collected for translation.

[2015-11-28 09:53] svk31 commented on #554
I think this is probably related to your version of babel-core or babel. Try reinstalling all your node modules and verifying your version of node.

[2015-11-28 10:36] wmbutler commented on #550
How about this for a UI solution.

![screen shot 2015-11-28 at 5 35 44 am](https://cloud.githubusercontent.com/assets/1254810/11451365/f4beef30-9591-11e5-9fd0-c883c18a0267.png)

[2015-11-28 10:39] wmbutler commented on #553
Might be nice to have but I'm going to push this out to late January and let there be some discussion first. We have a number of things planned for the market section.

[2015-11-28 10:44] wmbutler commented on #552
![screen shot 2015-11-28 at 5 43 39 am](https://cloud.githubusercontent.com/assets/1254810/11451398/041eb9f0-9593-11e5-9b51-10c1a87db59f.png)

[2015-11-28 11:07] wmbutler commented on #538
Updated this UX @svk31

[2015-11-28 14:04] kenCode-de opened #556 "What does "Settle" mean?"
RE: Account Overview > Balances

Guys, this is exactly what I have been preaching about on the forum since day one. Users will request more and more features over time. These features eventually get added, but will also clutter up the UI so bad that nobody knows what does what.

It took me a decade to refine my Tek9 Pro eBusiness software to the point where my grandma could use it, even after we h

[2015-11-28 14:13] kenCode-de opened #557 "Deposit/Withdraw needs a drop-down select menu, not tabs"
My grandma has no idea what a bridge or a gateway is and could care less. How about some tooltips, or color, or even an onscreen text (font size=1) explanation of what each item is..

Also, right now the wallet only supports Blocktrades, CCEDK, Metaexchange and Transwiser.

What happens when we support 15 different bridges and gateways? Well, guess what, now more time and money must be spent to re

[2015-11-28 14:15] kenCode-de opened #558 "In Deposit/Withdraw screen, the "Visit Website" link.."
That link is a nice addition, thank you.

It would be nice if it opened my default browser though (Chrome).

[2015-11-28 14:15] svk31 commented on #556
Settling is a core mechanic of Bitshares 2.0 market pegged assets. It lets you request settlement of your assets (USD, CNY, etc) at feed price 24hrs later. It is a way of ensuring holders of bit assets can get them converted to BTS at a fair price regardless of the current market status.

[2015-11-28 14:15] #556 closed, assigned to nobody

[2015-11-28 14:16] svk31 commented on #557
Please don't open issues like this without looking at existing issues, there's already an issue dealing with the deposit change that includes mockups of how we envision it should look after revamp.

[2015-11-28 14:16] #557 closed, assigned to nobody

[2015-11-28 14:20] kenCode-de opened #559 "The new "Net Worth" number in top-right corner"
There is no need to start cluttering the main menu bar with our net worth number, or whatever else users start asking for.

I had no idea what that number was until I noticed that it matched the number in my Account Overview balances. This screen is enough, don't start cluttering the UI having that same number in multiple places.

A tooltip here would be nice as well. Remember, my grandma is not a

[2015-11-28 14:27] kenCode-de commented on #556
Ok, well how is my grandma supposed to know that? Right now, it's just a button that doesn't explain any of that to her. I want mass adoption of BitShares.

[2015-11-28 14:30] kenCode-de commented on #557
I know that. My point is that time and money were spent to do it wrong FIRST. Do it right the first time and we all save time and money.

[2015-11-28 14:37] svk31 commented on #556
Your grandma will have to use another wallet in my opinion, something built from the ground up to be simple and accessible, which will not provide access to all features like this reference implementation has to do.

[2015-11-28 14:43] neura-sx commented on #550
A placeholder saying "NO MARKET DATA" is only valid when there haven't been any trades yet or there is some other reason for the last trading price to be unknown.

But when the last trading price is known (and it's always the case when there has been at least one trade in the past) - then the standard solution is to draw empty candles. And this is what I suggest.

[2015-11-28 14:51] neura-sx commented on #553
But can't the chart have a bit of flexibility and expand vertically to some extend WHEN there is empty space below?
I'm sure the modern js layouts are smart enough to figure this out and accommodate to different screen sizes.

[2015-11-28 14:54] neura-sx commented on #552
I'd make this text a bit smaller - just use the normal font size (and please without capital letters).

[2015-11-28 14:55] wmbutler commented on #558
You have to set that on your OS.

[2015-11-28 14:55] #558 closed, assigned to nobody

[2015-11-28 14:57] wmbutler commented on #559
My thought here was that it should be the total net worth of all accounts in your wallet in your currency of choice. We are getting there but not quite there yet.

[2015-11-28 14:57] #559 closed, assigned to nobody

[2015-11-28 14:57] wmbutler commented on #557
Then contribute to the discussion on the issue itself please.

[2015-11-28 14:59] wmbutler commented on #556
@kenCode-de settling is sort of a hornets nest right now anyway. Ultimately, I'd hope this could go to a buy/sell BTS screen which I've UX'd but this issue won't be solved in even the next month. There are a lot of politics on this topic.

[2015-11-28 15:03] wmbutler commented on #550
I see your point. Empty candles at the last price traded. Thanks for the clarity. Placing this in the current sprint as a bug...not a killer bug but a bug.

[2015-11-28 15:04] wmbutler commented on #553
Sure, I just don't see this as a high priority.

[2015-11-28 15:05] wmbutler commented on #552
I'll leave that to @svk31

[2015-11-28 17:50] maqifrnswa commented on #554
thanks - fixed by deleting node_modules and reinstalling. My build scripts now always delete node_modules just to be safe

[2015-11-28 17:50] #554 closed, assigned to nobody

[2015-11-29 09:56] mindphlux1 opened #560 "Disable 'Force settlement' button in the UI when there are buy orders above feed"
There has been an active committee proposal to temporarily disable the force settlement function, see here:

https://bitsharestalk.org/index.php/topic,20299.0.html

The Chinese community feels threatened by this because it appears they didn't know about this feature (blame it on the language barrier), and hence this compromise was created to give them one week breathing time to implement a liquidi

[2015-11-29 10:35] #495 closed, assigned to wmbutler

[2015-11-29 10:37] svk31 commented on #495
There's been so many issues with insufficient balances in fee pools lately I felt it was necessary to add this.

I also added support for the asset owner to claim the fees, but that requires an update of the OpenLedger witness node so I've hidden it for now in the GUI.

[2015-11-29 12:28] #545 closed, assigned to svk31

[2015-11-29 14:18] wmbutler commented on #560
Seems like buying from the market makes sense, however in the interest of time it might be easier to just disable it. I don't have an opinion on this issue because I do not fully understand it, but I'm not particularly interested in alienating any group either. I did read the thread and it still doesn't make a lot of sense to me.

I UX'd the concept of buy/sell bitshares a while ago because I thin

[2015-11-29 14:19] wmbutler commented on #334
@theoreticalbts doesn't look like this is is going to get worked. Thoughts?

[2015-11-29 14:20] wmbutler commented on #517
#538 may handle this with the redesign.

[2015-11-29 14:24] wmbutler commented on #537
See most recent UX for #538. Marking this as a duplicate.

[2015-11-29 14:25] #537 closed, assigned to wmbutler

[2015-11-29 14:29] wmbutler commented on #560
@svk31 Mindphlux asked asked us to commit to this one for version 1209. I'm placing it at the top of the list for that.

[2015-11-29 14:31] wmbutler commented on #474
Display unsupported browser for :+1:
- IE
- Firefox

We can bring back support later as we are able to focus on edge cases. Chrome is the official browser for now.

[2015-11-29 14:32] #549 closed, assigned to wmbutler

[2015-11-29 14:33] #517 closed, assigned to svk31

[2015-11-29 14:40] wmbutler commented on #466
This needs to be further broken down, otherwise this issue will just keep getting carried forward.

[2015-11-29 14:43] #466 closed, assigned to svk31

[2015-11-29 14:44] wmbutler opened #561 "Indicators (Fib, EMA, Bollinger)"
- [ ] Fib levels (Fibonacci Retracements)
- [ ] EMA2 Period
- [ ] Bollinger Band

[2015-11-29 14:45] wmbutler opened #562 "Indicators (MACD, Stoch, OBV)"
- [ ] MACD
- [ ] StochRSI (see bitcoinwisdom)
- [ ] OBV (On Balance Volume)

[2015-11-29 14:58] svk31 commented on #438
Don't think we'll do this, it could mean having multiple BTC in your account for example with no way of telling them apart.

[2015-11-29 17:20] abitmore commented on #495
See https://bitshares.openledger.info/#/account/abit :
- abit created the asset THUMBSUP

But I can't see my created assets nor issue them to someone with GUI? Shouldn't it be at https://bitshares.openledger.info/#/account/abit/assets ?

[2015-11-29 17:25] abitmore commented on #495
My assets appeared on OpenLedger finally. However it took about 10 seconds before they appear on the page https://bitshares.openledger.info/#/account/abit/assets . And they've never appeared in light wallet.

[2015-11-29 22:02] SteemitFbAdmin opened #563 "Problem with last update"
Since the last update, whenever I got to a market, I cannot scroll down like I use to.

Neither the mouse roll or trying to click on the side to scroll down works.

The only way I found to put a buy or sell order is by using TAB.

I use chrome with Windows 10

[2015-11-30 13:57] wmbutler commented on #438
Agreed. This is probably a bad idea for all kinds of reasons.

[2015-11-30 13:57] #438 closed, assigned to nobody

[2015-11-30 14:01] wmbutler commented on #563
This is the first I've heard of this. Can any other Windows users confirm? Please update Chrome to the latest version, quit, reload and try again. Report back if you could. Also, reply with your specific version of Chrome after the upgrade. If there are any Win/Chrome users out there, please post your observations here.

[2015-11-30 17:22] #418 closed, assigned to nobody

[2015-11-30 18:25] roadscape opened #565 "This wallet has already been imported"
When trying to import from 0.9.3, I'm getting the message "This wallet has already been imported", even though it displays new unclaimed balances.

I don't remember how I imported the account in the first place.. it was possibly from a pasted private key. So this might be an edge case but I'd like to be able to merge my incomplete wallet fragments.

[2015-11-30 20:10] jonnybitcoin commented on #560
So this will be reversed on  Wednesday, December 9th and forced settlement will return to all smart coins?

[2015-11-30 20:15] mindphlux1 commented on #560
We're expecting to test xeroc's adjusted price script tomorrow and get it adopted among the majority of the witnesses and will probably create the proposal much sooner than Sunday.

[2015-11-30 20:16] jcalfee commented on #565
You are correct, it stops on the first duplicate key.  You could also see this behaviour if you did not claim a balance but tried to import the same wallet again.  I can enhance it and let it import the wallet if their are new keys and just ignore the duplicates.

[2015-11-30 20:26] #551 closed, assigned to svk31

[2015-11-30 20:34] wmbutler commented on #565
@jcalfee is 1202 ok for this?

[2015-11-30 20:35] wmbutler commented on #560
It's up to @svk31 @mindphlux1 you requested it for 1209. Are you requesting 1202 now instead?

[2015-11-30 20:35] #552 closed, assigned to svk31

[2015-11-30 20:40] svk31 commented on #538
I had to make some compromises due to lack of space, and it's not quite done yet, but the preliminary result is not too bad I think:

![image](https://cloud.githubusercontent.com/assets/6890015/11483806/d45e45b8-97aa-11e5-836a-ef2c104b7f65.png)

[2015-11-30 20:52] mindphlux1 commented on #560
Please hold off for now until we know the results of the pricefeed test tomorrow.

[2015-11-30 22:09] #565 closed, assigned to jcalfee

[2015-11-30 22:49] roadscape commented on #565
You guys are awesome, thanks :)

[2015-11-30 23:51] wmbutler opened #566 "Trading numbers display"
@svk31 I don't what to overreact here, but this looks like a pretty important issue to address. I hope you agree and will work on this as part of 1202.

[code]

Note the first transaction:

[code]

The second transaction is fine, but it has round numbers...

But on the GUI:

![screen shot 2015-11-30 at 6 45 48 pm](https://cloud.githubusercontent.com/assets/1254810/11488183/9b5a30a0-9792-11e5-91aa-

[2015-11-30 23:56] wmbutler commented on #538
Looks great! Look at my design for market depth toggle and Borrow. I guess I don't understand why that wouldn't work? Great work though. @svk31

[2015-12-01 00:03] #540 closed, assigned to wmbutler

[2015-12-01 00:10] wmbutler commented on #538
Also, note the label changes below BUY BTS as well. I made these changes specifically mirroring poloniex since this seems to be a very well-received trading platform.
- Buy becomes Amount
- Pay becomes Total

Those labels are the same on the sell side as well.

[2015-12-01 02:51] SteemitFbAdmin commented on #563
It's back to normal.

[2015-12-01 02:51] #563 closed, assigned to nobody

[2015-12-01 03:34] clayop commented on #538
@svk31 Is this layout support 8-decimal assets? It looks to have no space for additional decimals.
How about placing Borrow and Market Depth button in the same line with Settings?

[2015-12-01 06:52] svk31 commented on #566
The quote amount is not the price, the price is:

price = (base amount \* base precision) / (quote amount \* quote precision)
price = 89999999 / 94736842 = 0,9499999905

(Simplified in this case because the precisions of the two assets are the same so I left that out of the equation)

You cannot easily look at an order object and get the price, you have to do additional calculations.

[2015-12-01 06:52] #566 closed, assigned to svk31

[2015-12-01 17:59] svk31 commented on #538
I'm not sure how your design was any different wmbutler, looks to me it only removed the button style? Anyway I've made some more adjustments, I liked to clayop's suggestion so I went with that, but pushed to the right always. I've also added the text changes that I missed, and some hover states. I've also changed the pricechart colors, they use the same colors as the up/down changes, but it defin

[2015-12-01 18:08] wmbutler commented on #538
It all looks pretty awesome to me.
- You could remove the star from My Markets as well. It would match My History then.
- I noticed you didn't add a horizontal separator between candlesticks and volume. I like the separation to help users see the difference in the number scale on the right.
- I also had a horizontal separator at the base of the volume indicators, once again I just think it creates

[2015-12-01 18:36] svk31 commented on #538
Yea, unfortunately Highcharts isn't very flexible when it comes to lines and borders, it's a bit all or nothing. I'll take the star out though.

[2015-12-01 18:38] #550 closed, assigned to svk31

[2015-12-01 18:41] #538 closed, assigned to svk31

[2015-12-01 18:50] clayop commented on #538
Sorry for adding comment after closing it.
1. Can we unite the buy color to new green one? I see characters in history and order book have different green (tortoise?) color.
2. The second row on the top (where time interval is located) should have the same height as the above one. Can we reduce the second row's height? (increasing the first row may waste space)
3. Vertical order book should fit in

[2015-12-01 18:51] wmbutler opened #568 "My History / History alignment"
I think this is only present on the web client, but the list items should be right aligned with the headers here. (At least for Amount and Value)

![screen shot 2015-12-01 at 1 49 35 pm](https://cloud.githubusercontent.com/assets/1254810/11510589/6c281784-9832-11e5-9bcb-001d2f4ac648.png)

[2015-12-01 18:52] clayop commented on #538
![image](https://cloud.githubusercontent.com/assets/9971632/11510640/8bc011be-9819-11e5-8876-b812ca0590fa.png)

Regarding 3, please see my screenshot.

[2015-12-01 18:54] #539 closed, assigned to svk31

[2015-12-01 18:55] svk31 commented on #539
The reason for this was that you had translated the links inside the help files, see my changes in the above commit and you'll understand what I mean.

[2015-12-01 18:58] svk31 commented on #568
It's because the header is in a different table from the the rest to enable scrolling while keeping the header fixed. It's pretty much impossible to get this right imo so I'd prefer to just leave it like that instead of spending lots of time trying to get it right. One solution could be to add a library for this but again it will be a lot of work for very little gain..

[2015-12-01 19:05] svk31 commented on #538
1. Like I said in an earlier comment the colors are different for a reason, in the depth chart, buy/sell buttons, orderbook and history they indicate ask/bid/call (order type). In the price chart and volume/price movements they indicate up/down.
2. I tried before your comment, result: I hate CSS..
3. I did include a fix for the centering yesterday so it stays centered when you click around markets

[2015-12-01 19:07] svk31 commented on #544
I'm hoping this is related to some incorrect json or something else that has been fixed in one of the language updates. If it persists after the next update I'll try to have a look.

[2015-12-01 19:17] wmbutler commented on #539
@bitsacer please review for future pull requests.

[2015-12-01 21:41] wmbutler commented on #334
Closing since nobody seems to care to respond to this issue :)

[2015-12-01 21:41] #334 closed, assigned to jcalfee

[2015-12-01 23:35] bitsacer commented on #539
Is every square bracket a link or only those with hashes ? Because if thats the case I need to fix the rest.

[2015-12-01 23:57] bitsacer commented on #539
square bracket-translatable link name-square bracket(non-translatable/path-to/filename.md) I thought this was what a link looks like

[2015-12-02 00:12] noisy opened #569 "Changing indicators on market without history makes whole web wallet unresponsive"
Screencast showing how to reproduce that:

https://www.youtube.com/watch?v=J7RxqZ5PJJg

[2015-12-02 09:34] bitsacer commented on #539
Hi,  I have made changes on transifex but they dont show on github as it used to .

iPhone'umdan gönderildi

1 Ara 2015 tarihinde 20:55 saatinde, Sigve Kvalsvik notifications@github.com şunları yazdı:

[2015-12-02 17:14] #569 closed, assigned to svk31

[2015-12-02 17:20] wmbutler commented on #474
Wording:

The Browser you are using has not been fully tested to support the Bitshares Wallet. We highly recommend that you backup your wallet and import it using the Chrome Browser until we have had more time to fully test your browser of choice. Use at your own risk.

[2015-12-02 17:57] svk31 commented on #143
We already have this message implemented:
![image](https://cloud.githubusercontent.com/assets/6890015/11539272/94e6ed54-9926-11e5-9c76-b84e7b5df0bd.png)

[2015-12-02 19:55] svk31 commented on #356
I've added the fees selector, it lets you choose any asset for which you have a positive balance to pay the fees with. Changing the asset type to send will automatically set the fee to be in that asset.

[2015-12-02 20:18] #454 closed, assigned to wmbutler

[2015-12-02 23:05] wmbutler commented on #143
nice!

[2015-12-02 23:05] #143 closed, assigned to valzav

[2015-12-02 23:08] wmbutler commented on #568
Moving to a late January date.

[2015-12-02 23:14] wmbutler commented on #456
ok, so I'll push it again, close it if you think it enough of an edge case to not worry about it.

[2015-12-02 23:15] wmbutler commented on #544
Moving to the test area on 1209 for now.

[2015-12-02 23:16] wmbutler commented on #216
Moving way out to January so we can focus.

[2015-12-02 23:16] wmbutler commented on #255
Moving to January

[2015-12-02 23:17] wmbutler commented on #547
Easy fix for 1209.

[2015-12-02 23:18] #474 closed, assigned to svk31

[2015-12-02 23:18] #356 closed, assigned to svk31

[2015-12-03 00:38] maqifrnswa opened #572 "electron app alerts user that it is an unsupported browser"
electron app alerts user that it is an unsupported browser

https://github.com/cryptonomex/graphene-ui/blob/e76a9915e3295af76fd1171883df9e8c461ce187/web/app/App.jsx#L115

[2015-12-03 01:19] jonnybitcoin commented on #560
So this new feature that disables force settlement. It should leave the force settle button there but prompt user saying you can sell on the open market for more.

[2015-12-03 07:06] #572 closed, assigned to nobody

[2015-12-03 07:06] svk31 commented on #572
My bad, always forget about the light client!

[2015-12-03 07:58] mindphlux1 commented on #560
Closing this since this is no longer needed.

[2015-12-03 07:58] #560 closed, assigned to svk31

[2015-12-03 17:14] c055 opened #576 "Theme / Skin Switch for Dark & Light theme on GUI settings"
(or as alternaitve on top right nav)

[2015-12-03 17:14] c055 commented on #576
i can do the light skin part .. but maybe i would need some assistance on the js settings switch part ..

[2015-12-03 20:20] clayop opened #577 "Consistent Color Tone"
Currently three colors categories (green, red, and tortoise(blue)) are used. We need to have consistency in color tone. Maybe needs @cassiopaia 's input.

I personally prefer imitating bitcoinwisdom's color concept. (red/green in chart, and pale red and pale green in buy/sell orders)

[2015-12-03 20:23] c055 commented on #577
Yep.. Currently all chart stuff colors are directly included into the javascript files .. but after we would have export them to scss or somthing kinda .. i don't see any problems to get them consistent

[2015-12-03 20:25] clayop opened #578 "Remove date/time below price chart"
Date/Time already exist in navigation bar (under price chart). If we remove the date/time right below the price chart, we can save more space.

[2015-12-03 21:53] wmbutler commented on #576
ok, late December

[2015-12-03 21:55] wmbutler commented on #577
@svk31 has articulated this quite a bit. I like consistency in the shades of red and green as well.

[2015-12-04 00:19] clayop opened #580 "Show Date in All History"
According to wmbutler's screenshot, date section in all history shows both date and time. Now the GUI only presents time.

![image](https://cloud.githubusercontent.com/assets/9971632/11578343/7be24656-99d9-11e5-8d0b-6d1acd9c6820.png)

[2015-12-04 07:02] svk31 commented on #577
I'm fine with keeping things more consistent, I do find the turquoise more and more jarring tbh. Not a color guy though so happy to leave that up to cass or wmbutler. Colors for the pricechart are defined in PriceChart.jsx since they have to be in js for highcharts, but I'd appreciate it if you played around with the colors there directly instead of doing mockups because it's hard to get them righ

[2015-12-04 08:27] wildbunny opened #581 "[Lite wallet] - All website links result in broken pages"
If you click on visit website for blocktrades, or metaexchange in the deposit/withdraw section, the resulting pages open in some weird hybrid browser which doesn't appear to support javascript, or at least doesn't support angular.js

Can we change this so the website links actually open in the user's real web browser?

[2015-12-04 15:36] svk31 opened #582 "Account Permissions page is broken"

[2015-12-04 15:36] #582 closed, assigned to svk31

[2015-12-04 15:47] roadscape opened #583 "Failed to broadcast the transaction (now <= trx.expiration)"
Running a local web wallet, freshly updated, and my balance claims keep expiring.

This happens when I try to broadcast as little as 6-7 total claims.

[2015-12-04 16:21] wmbutler opened #584 "Total Value in header"
@svk31 this is a bit of a challenge, but a worthwhile one I believe. Can you display in the header the total value of all asset types?

For instance, if I own USD / CNY / GOLD / BTS, can you display the estimated value of all those assets in the desired asset type? I understand that it's probably a challenge, but it would be pretty awesome to be able to see the net value of your account across all

[2015-12-04 16:26] wmbutler opened #585 "Consolidated Open Orders screen bug"
Reproduce:
- Cancel an open order from the Orders tab on the left side.
- Cancellation is confirmed but order does not disappear

![screen shot 2015-12-04 at 11 24 23 am](https://cloud.githubusercontent.com/assets/1254810/11594768/d447429c-9a79-11e5-904a-dcefa72fd5ec.png)

[2015-12-04 17:08] jcalfee commented on #583
It sounds like this happens every time.  Here is my post on the topic(below).  I wonder, can you get it to go through if you set your clock to GMT+5?

https://bitsharestalk.org/index.php/topic,20081.msg258550.html#msg258550

[2015-12-04 17:14] jcalfee commented on #583
You could also try in the console to expire in 15 minutes instead of 15 seconds.

[code]

[2015-12-04 17:15] wmbutler commented on #577
@cassiopaia Since you are working on the inverted color scheme as well, do you want to take it?

[2015-12-04 17:17] wmbutler commented on #581
I'd classify this as a high priority bug.

[2015-12-04 17:21] wmbutler commented on #580
Yeah, I'd really prefer that but @svk31 had concerns about spacing. Can we force the min width to be wide enough to support the date as well?

This will likely force users with small screens to view the bid/ask numbers below the chart instead of beside the chart but I think it's a fine compromise....also:

Can we fix the width of the right column (history and markets). I'd prefer that it doesn't f

[2015-12-04 17:23] wmbutler commented on #583
@roadscape also, is your time on your local computer synced to an ntp server?

[2015-12-04 17:23] jcalfee commented on #583
Wow, this is over 3g?  Still only 6 or 7 claims?

[2015-12-04 18:06] 38PTSjuggler commented on #583
I tried to change the system time without success. Where can I change that ?:chain_config.expire_in_secs = 15 \* 60

Do you mean in developer tools in the browser? If yes, where?

[2015-12-04 18:38] roadscape commented on #583
@wmbutler - I'm using OSX, which I believe uses ntp by default

@jcalfee - this worked!! thanks!

[code]

---

I set the expiration back to 15 seconds and I started profiling the page right before clicking 'Claim Balance' and ended right when I got the expiration message. From clicking the button to getting the error was approx 60-90s.. so it's definitely hanging on something.

Here's the profile,

[2015-12-04 18:43] roadscape commented on #583
@38PTSjuggler - if you are using chrome on android...

Go to the claim balances page and **paste this into the URL bar**:

[code]

And hit 'Enter' (or "Go") as if you were loading a website. Now try importing, it should work.

[2015-12-04 19:02] clayop opened #586 "Decimal Bug in Matching in 8-digit Assets"
I haven't clearly identified yet but from my observation there are some weird cases that maybe caused by decimal error, especially in 8-digit markets. e.g. BTS:TRADE.BTC, BTS:GOLD. I will dig into it when possible.

[2015-12-04 20:18] wmbutler commented on #583
@svk31 do we need to bake this into the next revision? If so, remove the question tag please. Thanks.

[2015-12-04 20:24] wmbutler opened #587 "15s view in BTS:USD"
Just hoping to make some incremental improvements here. You can see that there is a dark horizontal band an a few tick marks on the left side. This seems like a scaling / math issue coupled with some highcharts magic.

![screen shot 2015-12-04 at 3 22 54 pm](https://cloud.githubusercontent.com/assets/1254810/11600502/1af497dc-9a9b-11e5-8eaa-cb530d3f840e.png)

[2015-12-04 20:45] #583 closed, assigned to jcalfee

[2015-12-05 11:07] c055 commented on #577
yep .. i will  go over!

[2015-12-05 14:23] kenCode-de commented on #584
I think @svk31 did this one already :)

[2015-12-05 14:27] kenCode-de commented on #581
Agreed.. It does appear to be JS related too.

I think it would be better to load up the computer's default browser, not Electron, but the full-on browser itself like Chrome, with the tabs and everything.

[2015-12-05 14:38] svk31 commented on #584
Yes, if I understand you correctly that's how it works already after my previous changes. It shows the total for all assets that you own over all accounts for which you have the private keys in your current wallet.

[2015-12-05 14:41] kenCode-de opened #588 "Escape key should close popup windows/modals"
Just a small UX request..

I am so used to hitting Escape to close dialogs that popup I thought it would be cool if the same functionality would work in the graphene-ui as well.

[2015-12-05 14:45] kenCode-de opened #589 "Small grammar error on the Voting screen"
RE:
https://github.com/cryptonomex/graphene-ui/blob/aa39f2e51e7082c5dda4e59fe891455e21a64b26/help/en/components/AccountVoting.md

this:
Voting in Bitshares is important for the both the security and the development of the network. If you prefer, you may delegate your voting power to a proxy who can vote on your behalf. If you do choose to use a proxy, manual voting will be disabled.

should be cha

[2015-12-05 15:04] wmbutler commented on #584
ok, I think I see what's going on here. Don't you think it would also make sense to display values for:
- [x] assets locked up on buy/sell orders
- [x] collateral positions

As it stands I have a number of each of those and so my balance is severely off.

[2015-12-05 15:20] svk31 commented on #584
Yes I think I should be able to add that as well.

[2015-12-05 15:22] #585 closed, assigned to svk31

[2015-12-05 15:44] svk31 commented on #584
I should probably subtract the outstanding debt from margin positions as well no?

[2015-12-05 16:13] wmbutler opened #590 "Dashboard makeover"
I think the dashboard screen needs a makeover. Here is my justification:
- Wallet holders need to be able to star their most used accounts. Starred accounts should show up in the dropdown on the trading page. This ultimately gives users more flexibility and control.
- The card view is gitchy but not particularly functional. I think that all a user needs to know is the balance of that account in th

[2015-12-05 16:18] svk31 commented on #590
Agreed. We could add some more info to the table perhaps, "In open orders", "In collateral" maybe?

[2015-12-05 16:32] #584 closed, assigned to nobody

[2015-12-05 19:11] wmbutler commented on #590
Well, the problem as I see it is that there might be variable amounts of information, which would mean we couldn't reliably display at a fixed row height. I think simply displaying the value would be preferable for this reason.

For instance, I could have 15 different collateral positions in an account right? How could you ever responsibly display this on the account list?

[2015-12-05 19:17] svk31 commented on #590
Yea I just meant the total value of the BTS locked in collateral, and the total value of all assets in open orders. In your preferred unit. So it would still just be one line.

[2015-12-05 19:17] wmbutler commented on #498
I still haven't had a change to touch this. Will move to 1216

[2015-12-05 19:56] wmbutler commented on #590
Something like this?

![screen shot 2015-12-05 at 2 56 38 pm](https://cloud.githubusercontent.com/assets/1254810/11609888/6998cba4-9b60-11e5-8c1e-f9e75235be62.png)

[2015-12-05 19:58] svk31 commented on #590
Yep something like that :) Maybe "As collateral" or "Locked as collateral" would be more clear?

[2015-12-05 22:47] clayop commented on #586
Here's one example. Ordered at 1.03000000 but the confirmation page shows 1.02999999.

![image](https://cloud.githubusercontent.com/assets/9971632/11610655/0631828c-9b5f-11e5-9261-474ce93c9320.png)

[2015-12-05 23:38] jonnybitcoin commented on #590
can it show last account overview by default when clicking on dashboard

[2015-12-06 01:12] wmbutler commented on #590
What do you mean "last account overview"?

[2015-12-06 01:13] wmbutler commented on #581
Agreed.

[2015-12-06 01:14] wmbutler commented on #588
Love this. Easy win.

[2015-12-06 01:15] wmbutler commented on #586
High priority. We need to keep squashing anything related to floating point js issues as the highest priority. As a financial platform, it's the single most important thing.

[2015-12-06 06:07] jonnybitcoin commented on #590
dashboard shows all your accounts. click an account and it will show you an overview of that account.
I'm saying everytime you click dashboard it should remember your last account overview and show it by default.

[2015-12-06 16:11] wmbutler commented on #590
Instead of the list? I'm not sure I agree. Remember, your most recent account is active in the dropdown...

[2015-12-06 19:27] svk31 commented on #587
The issue here is that since there's no data I just show a straight line for the latest price over the interval that was checked for data. There's also a straight black line from the current price indicator (you're missing the label though for some reason). They overlap which makes for a thick line, but not much to be done about it tbh. As long as there's no data but we want to show the latest pri

[2015-12-07 05:25] wmbutler commented on #587
I think this should show dashes at the last price level known....

 `- - - - - - - - - - - - - - - - - - - - - - - -`

It would be great if the straight black line did not exist. Sounds like you are saying there is a technical hurdle with this. What if we change the background color to the same color so we don't see it :+1:

[2015-12-07 17:04] rngl4b commented on #555
Can you confirm this is fixed in version 2.0.151202?

[2015-12-07 17:11] bitsacer commented on #555
If you are asking me , yes fixed .There is one more thing I noticed, in help go to Bitshares on the left under Table of contents, click Bitshares, those links under "THIS WALLET" dont work . Not in Turkish nor in English, but they work on github's review page.

[2015-12-07 17:29] bitsacer commented on #555
Guide strings need to be collected for translation here too : http://docs.bitshares.org

[2015-12-07 17:39] #580 closed, assigned to svk31

[2015-12-07 17:56] svk31 commented on #587
From what I can see it already does pretty much what you're suggesting, could you have another look pls?

[2015-12-07 18:13] #470 closed, assigned to svk31

[2015-12-07 18:18] svk31 commented on #590
I supppose you want users to be able to star accounts elsewhere? As in the Account section for example, or from the account search in explorer?

[2015-12-07 18:29] wmbutler commented on #555
@bitsacer please close this issue and open a new one. Thanks.

[2015-12-07 18:31] wmbutler commented on #590
@svk31 no, I was just thinking all accounts would appear here and you could star or unstar them which would make them appear/disappear in the dropdown.

[2015-12-07 18:32] bitsacer opened #592 "In light wallet some help links not working"
In help go to Bitshares on the left under Table of contents, click Bitshares, those links under "THIS WALLET" dont work . Not in Turkish nor in English, but they work on github's review page.

[2015-12-07 18:32] wmbutler commented on #590
Unstarred accounts would still be here, they would just be light gray stars instead of yellow stars.

[2015-12-07 18:34] svk31 commented on #590
Hm ok, I think it would be nice to be able to not show some accounts in the dashboard myself, quite a few people would like to hide their collateral-holder-x accounts for example. We could show an overview that includes all your accounts in the settings for example so that users could find them again once hidden.

[2015-12-07 18:38] wmbutler commented on #590
Seems like an extra screen to me. I have a LOT of collateral accounts and I'd be fine if they were just sorted to the bottom. It would be a lot easier to just have one screen from a programming standpoint too.

Maybe you could also reduce the contrast on the account when it's unstarred... since the user can sort by starred accounts, it would be like they weren't there at all.

[2015-12-07 18:43] rngl4b opened #593 "Some internal links on help pages are not working"
Links inside introduction/bitshares.md and introduction/wallets.md  are not working in the GUI.

[2015-12-07 18:44] rngl4b commented on #555
Created a new issue #593, please close this one.

[2015-12-07 18:47] svk31 commented on #590
OK that works for me

[2015-12-07 18:51] #555 closed, assigned to nobody

[2015-12-07 18:54] #592 closed, assigned to svk31

[2015-12-07 19:27] bitsacer opened #594 "Example not clear Documentation of account/permissions and general introduction things"
Documentation of account/permissions and general introduction things- - Multi-Hierarchical Flexible Multi-Signature

[2015-12-07 19:30] bitsacer commented on #594
Controller(33%) or Treasurer(33%) together with(+) wither(?) the Tax Manager (10%) or Accounting (10%) to(=) spend funds(43%). < 51%

[2015-12-07 19:48] wmbutler commented on #594
I don't understand the question. @xeroc @cassiopaia can you offer any help?

[2015-12-07 19:52] bitsacer commented on #594
maybe I am wrong ? there is an example in Help, permissions.md, Multi-Hierarchical Flexible Multi-Signature, have a look at it . I just could not understand it .

[2015-12-07 20:10] rngl4b commented on #594
"wither" is a typo, I'll create a PR now. The example is ok, any combination of account weights that sums 51% can approve a transaction, i.e. Chief alone, Treasurer + Controller, Treasurer + Tax Manager + Accounting, or Controler + Tax Manager + Accounting.

[2015-12-07 20:18] bitsacer commented on #594
thats what I am saying,  the last "or" should have been "and" (+) .

"Controller or Treasurer together with wither the Tax Manager or Accounting to spend funds."

[2015-12-07 20:31] bitsacer commented on #594
@rngl4b ..together with Tax Manager and Accounting to spend...

[2015-12-07 20:33] rngl4b commented on #594
You are right, missed that. #596

[2015-12-07 20:36] bitsacer commented on #594
can I close this one ?

[2015-12-07 20:40] rngl4b commented on #594
Yes please, thank you for the advise.

[2015-12-07 20:40] bitsacer commented on #594
cheers

[2015-12-07 20:40] #594 closed, assigned to nobody

[2015-12-08 00:26] wmbutler commented on #516
@svk31 should we table all of these and just wait for the react charts?

[2015-12-08 00:29] wmbutler commented on #587
Here is BTS:USD at 15s intervals. It should have `-  -  -  -` evenly spaced across the screen at 15s intervals and not have the black horizontal line. I'm fine consolidation this all under the react stock chart enhancement though. Let me know how you'd like to proceed.

![screen shot 2015-12-07 at 7 27 17 pm](https://cloud.githubusercontent.com/assets/1254810/11644269/93e1224e-9d18-11e5-89cc-1a062

[2015-12-08 01:01] c055 commented on #516
+1

[2015-12-08 07:03] svk31 commented on #516
Yes I was thinking the same thing.

[2015-12-08 13:00] wmbutler commented on #516
OK, I'm going to close all issues related to charting bugs. Which Milestone should we target for the charting updates?

[2015-12-08 13:00] #516 closed, assigned to svk31

[2015-12-08 13:01] wmbutler commented on #226
@svk31 Has this been on your radar at all? I really like the idea of this.

[2015-12-08 13:02] wmbutler commented on #302
Closing this since it's really not an issue.

[2015-12-08 13:02] #302 closed, assigned to valzav

[2015-12-08 13:15] wmbutler opened #597 "These trades should match"
@svk31 according to the UI, these trade on BTS:TRADE.BTC should match up. Can you take a look at the precision display here and try to resolve it? These are the types of things that traders shake their heads at.

![screen shot 2015-12-08 at 8 13 13 am](https://cloud.githubusercontent.com/assets/1254810/11656519/c5c1332e-9d83-11e5-8947-fe2d5681e688.png)

[2015-12-08 13:18] wmbutler commented on #597
Here is a look at the actual values...how to we deal with this? Are we forced to display the absolute precision here? My gut tells me yes, but I don't know how to fir it all on the screen.

![screen shot 2015-12-08 at 8 16 47 am](https://cloud.githubusercontent.com/assets/1254810/11656579/2b19fe04-9d84-11e5-9bcd-75ef951c660c.png)

[2015-12-08 13:29] svk31 commented on #597
That isn't actually the real price, it's what I've called "displayPrice" in the code. The actual price is implemented as an integer ratio, something like 123123 / 90909232 (random numbers). I keep prices like that everywhere, but when calling the api in order to submit the order I need to do some more math because you need to specify "amount to sell, amount to buy", not "price and amount". So ther

[2015-12-08 14:31] wmbutler commented on #597
Yeah, I understand how difficult this is, but it's such an important problem to solve, I think it's worth it to deprioritize other items and lock this in.

[2015-12-08 14:35] wmbutler commented on #597
It's possible that a user would enter an order manually, looking at one he/she expects to match. When it doesn't match, they would be surprised (but it's really just because we didn't display the full precision of the open orders. Scientific notation might make sense for these extremely small decimals. It's easier than counting the zeros for sure.

`990.34345435 [-5]`

[2015-12-08 22:35] c055 opened #598 "Explore > Account > Filter with opportunity to favorite/add an account on the fly.."
…directly within the search process ...

[2015-12-08 22:37] c055 commented on #598
![screen](https://cloud.githubusercontent.com/assets/6280810/11670865/abff8252-9e04-11e5-92f6-1eee07da9c29.png)

[2015-12-08 23:29] wmbutler commented on #598
Add comments to #590. Closing this.

[2015-12-08 23:29] #598 closed, assigned to svk31

[2015-12-09 07:37] clayop commented on #597
IMHO, first, GUI should show only limited number of digits (e.g. 8 digits in this example).
Second, in GUI, price should comes first, and the amount comes second. Lastly, total should be determined. In the example, 0.00000990 BTC/BTS -> 20200 BTS -> 0.19998 BTC, or 0.00000990 BTC/BTS -> 109 BTS -> 0.0010791 BTC.
This may leave some dusts, it's common thing in other exchanges too.

[2015-12-09 14:03] kenCode-de opened #599 "Deposit addresses disappear when clicking on "Generate""
See this image:
http://i.imgur.com/0pLzSBa.png

I just wanted to deposit some DOGE.

[2015-12-09 15:39] bytemaster opened #600 "Add Whitelist / Blacklist support to Accounts"
Any account that is a lifetime member may place other accounts on their whitelist or blacklist.  This feature is critical for OPEN.USD support as well as a broader reputation system.

Every account can list all of the other accounts that whitelist them.  The white listing account does not have an easy way to get a list of all accounts they have white listed.

If I go to my account (bytemaster) the

[2015-12-10 03:33] wmbutler commented on #587
this can happen after we switch to react charting.

[2015-12-10 03:33] #587 closed, assigned to svk31

[2015-12-10 03:36] wmbutler commented on #282
Closed for now. Can revisit when we focus on Safari compatibility.

[2015-12-10 03:36] #282 closed, assigned to valzav

[2015-12-10 03:41] wmbutler commented on #255
@valzav status?

[2015-12-10 03:42] wmbutler commented on #543
@jcalfee is this one in your realm? Moving to 1216.

[2015-12-10 03:45] wmbutler commented on #590
I would drop the:
- 'as collateral' for just 'collateral'
- 'in open orders' for just 'open orders'

[2015-12-10 03:53] wmbutler opened #601 "Switch the default chart interval to 1 day"
- those 1h periods of no trading activity look embarrassing.

This was a user submitted idea, and not a bad one at that... thought it might be easy to sneak in to 1209

[2015-12-10 04:01] wmbutler commented on #600
Not sure I'll be able to UX this in time for 1216. @svk31 take a shot at it if it's super high priority, otherwise I can get it completed before 1223

[2015-12-10 08:10] svk31 commented on #601
I already set it to 4hrs in a previous commit.

[2015-12-10 08:13] svk31 commented on #600
Is this data available from the backend? I know the account object has whitelist/blacklist arrays, but I assumed those were for accounts that are blacklisted or whitelisted BY that account.

How do I get the lists of accounts that have whitelisted/blacklisted a given account?

[2015-12-10 12:57] testzcrypto opened #602 "Electron light wallet --data-dir param"
Please add possibility to specify electron light wallet data directory where to keep wallet data. In current version all data stores at %APPDATA%\BitShares2-light (under Windows).

**Related links:**
https://www.chromium.org/user-experience/user-data-directory
https://github.com/atom/electron/blob/master/docs/api/app.md#appgetpathname
https://github.com/atom/electron/issues/647
https://github.com/

[2015-12-11 18:38] clayop opened #603 "Set BTS as a Default Asset in Transfer Page"
From my side, when I tried to send fund, OPENBTC or other assets are set as default. I think it should be sorted in asset id order, so BTS is a default option.

[2015-12-12 10:25] #603 closed, assigned to nobody

[2015-12-12 20:28] clayop commented on #587
Glad to here to switch to react charting. But please make sure that users can choose time intervals they want. From feedback from traders, 15s, 1m, 3m are meaningless in crypto market. He suggested me 5m, 15m, 30m, 1h, 2h, 4h, 1d, 1w.

[2015-12-12 20:36] svk31 commented on #587
These have to be set in the witness node config, the GUI will display whichever ones are available from the witness node it's connected to.

[2015-12-14 18:17] #601 closed, assigned to svk31

[2015-12-14 18:38] #547 closed, assigned to svk31

[2015-12-14 19:26] #590 closed, assigned to svk31

[2015-12-14 19:55] svk31 opened #606 "Exchange page scrolls to the top on entering values if price chart is active"

[2015-12-14 19:55] #606 closed, assigned to nobody

[2015-12-15 14:00] abitmore opened #608 "Unable to pay BTS as fee for transfer with light wallet 2.0.151209"
Screenshot attached.

![transfer-gui](https://cloud.githubusercontent.com/assets/9946777/11812419/1a5f2c8e-a33c-11e5-9aae-ea7a656ba0c7.png)

[2015-12-16 18:31] theoreticalbts opened #610 "Firefox browser unsupported"
I am getting the following message when I go to bitshares.openledger.info

[code]

Here is relevant system information:

[code]

My user-agent string:

[code]

Firefox from official repository on Ubuntu LTS release is not in any way an unusual platform.  Is Firefox really unsupported, or is it just not properly detecting my browser?

[2015-12-16 18:47] valzav commented on #610
Yes, currently we display this for all browsers except Chrome because we had resources to test it in Chrome only.

##

Regards,
Val

[2015-12-16 19:15] svk31 commented on #586
The above commit fixes this particular issue, but you can still get a slightly different price in the confirm dialog than what you entered if you're using maximum precision amounts. I think this is inevitable, since a price in Graphene is not a price in the regular sense of the term, but a ratio amount to sell and amount to buy.

If the precision is X and Y is 2, and you want to buy 2 X at a price

[2015-12-16 19:39] #597 closed, assigned to svk31

[2015-12-16 23:16] #593 closed, assigned to valzav

[2015-12-16 23:16] #581 closed, assigned to valzav

[2015-12-16 23:16] #544 closed, assigned to svk31

[2015-12-17 16:59] valzav opened #611 "Ability to export account history as CSV file"

[2015-12-17 18:14] neura-sx opened #612 "Scroll-bar fragment remains on the screen"
Chrome/Win7
How to replicate: navigate to Workers and then navigate to Committee Members.

![sc](https://cloud.githubusercontent.com/assets/11573977/11877829/f83be77a-a4f1-11e5-80d2-97ee81c3b037.png)

[2015-12-17 18:17] neura-sx opened #613 "Unergonomic toggle between Table View and Card View"
Those two complementary buttons are on the opposite sides of the screen - which is bad UX.

![cv](https://cloud.githubusercontent.com/assets/11573977/11877896/7088d2e2-a4f2-11e5-9019-18ff4fe867a2.png)

![tv](https://cloud.githubusercontent.com/assets/11573977/11877899/7326c8d8-a4f2-11e5-8d64-6d86018eedcb.png)

[2015-12-17 18:27] neura-sx opened #614 "Unhandled promise rejection Error"
Chrome/Win7

How to recreate:
(1) Reload the browser with this URL:
https://bitshares.org/wallet/#/market/PUSSY_CNY
(2) Navigate to ALL MARKETS and start typing something in the filter field

![pussy](https://cloud.githubusercontent.com/assets/11573977/11878071/c00f6366-a4f3-11e5-9b78-802bed415a62.png)

[2015-12-17 18:33] neura-sx opened #615 "The width of the right-hand side column is unstable"
The width of the right-hand side column changes unexpectedly when toggling between MY MARKETS and ALL MARKETS (when my markets list in non-empty and all markets list is empty)

![my](https://cloud.githubusercontent.com/assets/11573977/11878223/ae1c9254-a4f4-11e5-9869-3d73692d71f5.png)

![my1](https://cloud.githubusercontent.com/assets/11573977/11878225/b115fff4-a4f4-11e5-8dec-5bd638cfbd82.png)

[2015-12-18 13:27] todasun commented on #544
language setting  still not work  on  BitShares-light_2.0.151216.exe win10 64bit
why?

[2015-12-18 17:33] svk31 commented on #608
Is this still an issue with the latest version?

[2015-12-18 18:48] svk31 commented on #543
Seems xeroc was mistaken and it's not actually possible to set a zero or null cer. I've added the ability to set the CER on creation however, and also hid the asset selection in asset update for assets that have a valid (CORE + the asset to update) combination of CER assets.

[2015-12-18 18:49] #543 closed, assigned to svk31

[2015-12-18 19:04] abitmore commented on #608
It seems to have been fixed in v2.0.151216.

[2015-12-18 19:04] #608 closed, assigned to nobody

[2015-12-18 19:11] svk31 commented on #535
Does not seem to happen any more, closing

[2015-12-18 19:11] #535 closed, assigned to nobody

[2015-12-19 08:02] neura-sx opened #617 "Overflow error when modifying Quote Asset Amount"
Chrome/Win7
The GUI crashes when the user attempts to modify the Quote Asset Amount by using precision bigger than the asset's precision. In my case I tried to apply 0.0001 whereas only 0.01 was allowed.

![ass](https://cloud.githubusercontent.com/assets/11573977/11912104/8cffe798-a62e-11e5-95f5-d27627422139.png)

[2015-12-19 08:05] neura-sx opened #618 "An asset's fee pool balance is displayed without being converted to appropriate format"
![ass2](https://cloud.githubusercontent.com/assets/11573977/11912125/471fc512-a62f-11e5-8584-99f9eda3eee1.png)

[2015-12-19 08:23] neura-sx opened #619 "Important UX improvements for UIA creation"
(1) When creating a UIA there are two lines of input below the Market Fee option (in the Flags section) without any explanation what kind of input goes into each field.

(2) I think the Flags and Permissions tabs should be swapped. The logical sequence of events is that you first determine what permissions are allowed and then make use of those permissions by setting the flags, not the other way r

[2015-12-20 08:50] #589 closed, assigned to wmbutler

[2015-12-20 10:20] #546 closed, assigned to nobody

[2015-12-20 10:22] #618 closed, assigned to nobody

[2015-12-20 10:30] #617 closed, assigned to nobody

[2015-12-20 10:53] #619 closed, assigned to nobody

[2015-12-20 11:12] #614 closed, assigned to nobody

[2015-12-20 11:25] #615 closed, assigned to nobody

[2015-12-20 16:41] abitmore opened #620 "ANTSHARE:TCNY market doesn't show my order in market order list"
Screenshot attached. It also doesn't show in OpenLedger.
![trade-gui](https://cloud.githubusercontent.com/assets/9946777/11918807/39afda5e-a740-11e5-9949-45e8f4aa39e8.png)

It's included in the depth chart.

It also appears in CLI wallet.

[code]

[2015-12-21 11:47] ValentinJesse opened #621 "Enhancement - Trade UI - Consider removing the "favorite" stars from "My Markets" tab and make them visible only when hovering. Reduces bloat"
Something similar to this:

![2015-12-21_13-45-18](https://cloud.githubusercontent.com/assets/7979136/11930107/4891edce-a7e9-11e5-926c-881e3eb604ed.png)

[2015-12-21 11:57] ValentinJesse opened #622 "Enhancement - Trade UI - Consider removing the *** .table>tbody>tr>td { border-bottom: 1px solid #ddd;} *** Reduces bloat and eye strain (+ pics)"
From this
![2015-12-21_13-56-11](https://cloud.githubusercontent.com/assets/7979136/11930276/a2b74212-a7ea-11e5-910f-b8bce4acdbb7.png)

To this
![2015-12-21_13-54-58](https://cloud.githubusercontent.com/assets/7979136/11930279/a6470796-a7ea-11e5-86a7-1b5412e69451.png)

[2015-12-21 15:24] c055 commented on #622
we should reduce the border noise all over the market page as well .. IMO with small changes we would gain a big eye pleasure effect ...

[2015-12-21 15:27] valzav commented on #622
I'm not sure it's good idea to remove horizontal lines at all - they help eyes to scan table rows. Probably making them less visible (darker) would be enough.

[2015-12-21 15:27] c055 commented on #622
yep sry .. my fault, ment this .. !

[2015-12-21 16:51] kenCode-de opened #623 "How do I withdraw bitBTC to my friends BTC address?"
I have bitBTC.
One of my employees wants to be paid in BTC (he does not use Bitshares).
How do I use the Withdraw screen to send him my market-pegged bitBTC so that it will be converted on-the-fly?
He wants exactly 1BTC, so I need AT LEAST that much bitBTC (since I have to pay the fees/spread).

It is not clear to me in the Withdraw screen on how to do that. The Bridge thing needs some UI/UX work

[2015-12-22 08:47] pch957 opened #624 "can't write memo with Chinese char"
I can transfer with chinese memo from cli_wallet, and it can display correct on web page.
but when I transfer with chinese memo from web wallet, it can't display correct.

[2015-12-22 12:09] c055 commented on #623
when you want to withdraw BTC then u sould use blocktrade and trade tradeBTC to BTC ..

[2015-12-22 12:09] kenCode-de opened #626 "Settings screen "Preferred unit of account", wrong asset is selected"
I changed the default from BTS to EUR.
I went to an accounts overview screen, all balances show in EUR.
Awesome.
Now, I go back to the settings screen and BTS is the selected choice.

Please have that select menu:
1. show a tiny down arrow indicating that it is a select menu, and
2. automatically select/display the asset that I have set it to.

Thanx :) ken

[2015-12-22 12:13] kenCode-de commented on #623
Well, I'm trying to avoid relying on any centralized exchanges like OPENBTC, and UIA's like tradeBTC, etc.

We have a bitBTC Smartcoin and I would like to start using it extensively to move money into and out of the wallet easily without relying on a third-party.

[2015-12-22 12:19] kenCode-de opened #627 "Button labels and background colors on some of the modals/popups"
This should be a quick css fix:
I can't read the text label on some of the popup dialog boxes. It has white-ish text on a light gray background making it impossible to read.

For example, go to an account's balances overview screen.
Click on a Smartcoin like BTC or EUR.
Click Settle.

The dialog box that pops up has a button on there but I cannot read the text on it. The colors are out of whack. P

[2015-12-22 12:38] c055 commented on #623
Well, this won't work without any 3rd party .. AFAIK

[2015-12-22 12:42] kenCode-de commented on #623
So the DEX will never have its own Gateway so that I can directly deposit BTC to bitBTC either?

[2015-12-22 14:24] bytemaster opened #628 "Market Should support BTS fees for UIA and BitAssets"
When a UIA issuer forgets to fund the fee pool, users shouldn't be left stranded.  The GUI should always provide an option to pay the fee in BTS.

[2015-12-22 14:24] svk31 commented on #628
It already does, it defaults to BTS if fee pool has insufficient funds.

[2015-12-22 14:28] bytemaster commented on #628
I see, the SELL button gets greyed out due to insufficient funds but doesn't tell the user that is the reason.  I thought it was due to the fee pool being empty.

The numbers should really be displayed with "," in the separators place. At the very least, if the sell button is disabled, a mouseover should explain why.

[2015-12-22 14:32] svk31 commented on #586
@bytemaster do you have an opinion on this? Is there way for us to handle prices that will give consistent and "as expected" prices?

[2015-12-22 15:06] #611 closed, assigned to valzav

[2015-12-22 17:39] xeroc commented on #586
Since prices in graphene are modelled as ratios, we could maybe add a new _class_ to represent prices in the GUI and use numerator `a` and de-numerator `b` and put those in the background of each price and display the price as `p = a/b`.

Then when someone clicks an open order, we could use `a` and `b` directly to create a new order instead of using `p` (which is the source of the issue from what

[2015-12-22 19:16] svk31 commented on #586
That's the way it's already handled, for example when someone enters a price manually I calculate an integer ratio to represent that decimal value. Orders taken from the orderbook by clicking on it use the price ratio as given by the blockchain.

The problems arise when combining that price with the amount/quantity the user wants to buy or sell. In some cases this results in a "price" that isn't p

[2015-12-22 19:21] svk31 commented on #620
Orders that are too far away from the current highest/lowest bid/ask are filtered out of the orderbook, it's because in some markets you have orders at say a price of 10000000000000 when the actual going rate is 10. This makes the orderbook look ridiculous so I removed them. The cutoff is arbitrary but currently set to 5x lowest ask; 1/5 highest bid. I could increase it slightly if that's desired.

[2015-12-22 20:21] valzav opened #629 "add "Lifetime fees paid" explanation to membership page"

[2015-12-23 01:27] neura-sx opened #630 "Improvements aimed at increasing voting participation"
Voting apathy is a serious vulnerability for the blockchain. It can be assumed that a lot of users don't vote because they don't realize that. These are simple changes that are aimed to alleviate this problem to some extent:

(1) If the system finds out that an account has a balance of e.g. 100k BTS (or more) and is not voting (i.e. no proxy set and there is no support for at least 10 witnesses),

[2015-12-23 07:28] xeroc commented on #586
Assuming that when someone clicks an existing order he wants that particular price, I would only let them change amount/quantity of base or quote and have the other be derived such that the precision of it is ok. At the end of the day an order only contains
- a price (as two integers)
- an amount in either base or quote

So I would recommend to have 4 modes of how a user can input an order:
- matc

[2015-12-23 10:25] kenCode-de opened #631 "Unable to edit description on asset"
I want to edit the description on BTSPOS, but the client yields this error in red text:

Failed to broadcast the transaction:
base.amount > share_type(0):

UPDATE ASSET
Asset to update BTSPOS
Issuer  bitshares-munich
New owner account   -
Core rate   n/a
New options
root:{} 12 items
max_supply:1000000000
market_fee_percent:0
max_market_fee:1000000000000000
issuer_permissions:79
flags:128
core_exch

[2015-12-23 13:59] bytemaster opened #632 "Table View for Workers + Hide Workers with negative approval"
There should be a toggle button to "hide" workers with negative approval.

The workers should be arranged in a table view like:

http://cryptofresh.com/workers

[2015-12-23 18:25] dnotestein commented on #623
BlockTrades will offer direct BTC to bitBTC (and vice-versa) as bridge options before too long.

[2015-12-23 18:26] svk31 commented on #631
That looks like it's related to an invalid core exchange rate, is one of the values set to 0 perhaps?

[2015-12-23 18:27] #500 closed, assigned to svk31

[2015-12-23 19:13] kenCode-de commented on #623
SWEET! We really need to push liquidity there. I love CCEDK, but I want to utilize as many of our tools as possible too. Thanx!

[2015-12-23 19:17] kenCode-de commented on #631
Uuuh, I have no idea what that means, sorry. I have not really used that asset at all, so was hoping to just delete it actually to free up the name.

[2015-12-23 20:47] svk31 commented on #631
OK I just checked your asset and it does indeed have an invalid Core Exchange Rate (in Primary Settings), so you won't be able to update it unless you fix that.

Either way you can't delete an asset.

[2015-12-23 20:47] #631 closed, assigned to nobody

[2015-12-23 20:51] svk31 commented on #578
I'm not sure I agree, since the dates in the navigator are not very visible and too spaced out. Either way this will no longer be relevant once we replace Highstock with react-stockcharts. I won't be spending much time changing the exchange charts until that transition is complete.

[2015-12-23 20:51] #578 closed, assigned to nobody

[2015-12-23 20:54] kenCode-de commented on #631
Hmm, I tried changing "Quote Asset" and then "Base Asset" to BTSPOS and I got the exact same error. What should I change them to? Right now they both say BTS in those quoted fields..

[2015-12-23 20:56] c055 commented on #623
ok just to be clear .. blocktrades is also a 3rd party service you would use then .. :)

[2015-12-23 20:57] svk31 commented on #631
Change one of them to be BTSPOS, then set non-zero values for each asset to get an actual price for the core exchange rate.

[2015-12-23 20:57] c055 commented on #623
will close this issue .. let me know if i should re-open it ..

[2015-12-23 20:57] #623 closed, assigned to nobody

[2015-12-23 20:58] c055 commented on #578
makes sense -- love react charts :) eager to see them in action

[2015-12-23 21:04] kenCode-de commented on #631
That did the trick, you are AWESOME!! THANK YOU THANK YOU!! :)

[2015-12-23 21:19] kenCode-de opened #633 "Incorrect asset listed in "net worth" tooltip, top-right corner of screen"
That tooltip says i have:

DELETIP: 0.00000 BTS

None of my accounts list that asset, so it should not be showing in that popup tooltip in the top right corner when mousing over my "net worth" number.

[2015-12-23 23:55] abitmore commented on #630
Better to vote by select/click but not input. Currently only worker proposals are being voted this way.

[2015-12-23 23:58] abitmore commented on #620
OK. This feature sounds reasonable for me. Maybe document this somewhere? Maybe a "show more" button when something is hidden?

[2015-12-23 23:58] #620 closed, assigned to nobody

[2015-12-24 00:08] neura-sx commented on #630
@abitmore , very good point. I'll add it to the list above.

[2015-12-24 01:53] clayop commented on #624
Korean too.

[2015-12-24 05:47] todasun commented on #544
language setting still not work on  BitShares-light_2.0.151223.exe

[2015-12-24 05:47] todasun opened #634 "language setting still not work on BitShares-light_2.0.151223.exe"
https://github.com/cryptonomex/graphene-ui/issues/544

[2015-12-24 12:06] svk31 commented on #600
I see there's actually a field in the account object that includes the accounts that have whitelisted/blacklisted that particular account, so that's no longer a problem.

One thing I don't get is why you say that the accounts to add to a whitelist should be taken from your own accounts that are lifetime members. Can't you whitelist/blacklist any account?

[2015-12-26 19:16] kenCode-de opened #636 "I can't see the memo texts"
In the Recent Activity section and if I click on the green Transfer icon, neither section shows me the full memo. I need to see those memos because it is how I keep track of what an expense was for. Please make the memos visible for all transactions. If the memo is too long for the width of the field, then maybe just snip part of it off and hide it, revealing the "more..." link so I can click that

[2015-12-28 21:29] clayop opened #638 "Endless loading with ws://127.0.0.1:8090 on web wallet"
In OpenLedger wallet, changing to 127.0.0.1:8090 gives an endless loading error.
It should be loaded or if it's wrong behavior, changing to 127.0.0.1:8090 should be impossible.

[2015-12-28 21:59] abitmore commented on #638
127.0.0.1:8090 should have been removed as a solution for #444

[2015-12-29 00:07] abitmore commented on #500
- For witnesses which have 2 vesting objects, the page shows only one object.
- How about the accounts which have a vesting balance caused by the "merger"?

[2015-12-29 07:10] svk31 opened #639 "Add support for recurring payments"

[2015-12-29 07:18] svk31 commented on #638
It was removed so clayop must have added it himself. This issue is different though, it's because using an insecure (ws) websocket is not allowed by the browser from a secure domain like https://bitshares.openledger.info.

I'll make sure we enforce a wss url from secure domains, that way you'll end up on the init error page if the api you enter is incorrect.

[2015-12-29 15:25] abitmore opened #640 "Issues with vesting balance"
- For witnesses which have 2 vesting objects, the page shows only one object.
- How about the accounts which have a vesting balance caused by the "merger"?
  (I've posted a comment to #500 but I think it's better to open a new issue)

[2015-12-29 15:44] #375 closed, assigned to nobody

[2015-12-29 15:45] wmbutler commented on #577
@cassiopaia placing this in 0106

[2015-12-29 15:48] wmbutler commented on #530
This is a limitation of sockets and probably not worth the effort.

[2015-12-29 15:48] #530 closed, assigned to nobody

[2015-12-29 15:51] wmbutler commented on #226
Closing this since we have a good open orders area.

[2015-12-29 15:51] #226 closed, assigned to svk31

[2015-12-29 15:52] wmbutler commented on #233
Closing since no response from @theoreticalbts

[2015-12-29 15:52] #233 closed, assigned to svk31

[2015-12-29 15:52] wmbutler commented on #456
Closing due to no feedback for many months.

[2015-12-29 15:52] #456 closed, assigned to jcalfee

[2015-12-29 16:01] wmbutler commented on #610
Closing but we know this needs to be a priority after base features and bugs are in place.

[2015-12-29 16:01] #610 closed, assigned to nobody

[2015-12-29 16:04] #301 closed, assigned to valzav

[2015-12-29 16:05] #303 closed, assigned to valzav

[2015-12-29 16:05] #529 closed, assigned to nobody

[2015-12-29 16:06] wmbutler commented on #602
I'm not convinced this is an issue. @svk31 ?

[2015-12-29 16:07] wmbutler commented on #612
Quick fix.

[2015-12-29 16:08] wmbutler commented on #613
Let's keep the toggles on the right side.

[2015-12-29 16:09] wmbutler commented on #621
Not sure I understand. The star indicates that it's a favorite.

[2015-12-29 16:12] wmbutler commented on #622
I agree with @valzav I'd keep them and go lighter as a compromise. Personally I like them as is. But I UX'd it :)

[2015-12-29 16:14] wmbutler commented on #630
Voting needs a UX overhaul as well. I'll work on this.

[2015-12-29 16:17] wmbutler commented on #633
@svk31 do you have enough info to squash this bug? Can you reproduce?

[2015-12-29 16:20] wmbutler commented on #636
How about a hover tooltip to reveal the memo as a quick fix.

[2015-12-29 17:51] svk31 commented on #633
Yes I think I know why, should be an easy fix. Balance objects stick around even if they're empty

[2015-12-29 19:38] svk31 commented on #600
The above commit adds the functionality, but until https://github.com/cryptonomex/graphene/issues/489 gets resolved the accounts whitelisted by an account won't be displayed.

[2015-12-29 19:38] #600 closed, assigned to svk31

[2015-12-29 20:44] valzav opened #641 "Error creating new account"
`Cannot read property 'forEach' of undefined`
https://bitsharestalk.org/index.php/topic,20814.0/topicseen.html

[2015-12-29 22:08] #641 closed, assigned to nobody

[2015-12-30 08:52] abitmore opened #642 "The "EXPIRATION" column on the "Orders" page is confusing"
See https://bitshares.openledger.info/#/account/abit/orders/
The "expiration" time makes sense only when the order hasn't been included in the chain.

[2015-12-30 09:09] svk31 commented on #642
No, this is the actual expiration time of the order. If the order is not filled by that time, it will be cancelled. The expiration time will be user modifiable in the future but for now it's just set to 5 years in the future by default.

See #6

[2015-12-30 09:09] #642 closed, assigned to nobody

[2015-12-30 09:11] svk31 commented on #639
Most likely even the 160120 milestone is too soon for this, it will require some digging to find out how stuff works and what's actually possible.

[2015-12-30 09:13] svk31 commented on #602
I have no idea how the electron stuff works, @valzav can you take this one please?

[2015-12-30 09:16] svk31 commented on #568
This was actually fixed in a unrelated commit, the actual reason was the show-for-x foundation utility class, I removed that so this is no longer an issue.

[2015-12-30 09:16] #568 closed, assigned to svk31

[2015-12-30 09:22] svk31 commented on #491
This was partially addressed by https://github.com/cryptonomex/graphene-ui/commit/c7d7811db0afd9c619efabc1d55630a5d1f9bb79

Adding dates and date ranges is complicated because graphene blocks/operations don't include dates, they need to be calculated every time.

[2015-12-30 09:26] kenCode-de commented on #491
This one really should be high priority because my Accountant needs this info for tax reporting. Also, it would be great if the memo text could be exported as well. This way she can read which transactions are write-offs, etc. The mobile wallet needs this feature as well: https://bitsharestalk.org/index.php/topic,20762.0/all.html

[2015-12-30 17:57] kenCode-de opened #644 "Please make links in the memo field click-able"
I click on one of the transactions in my Recent Activity, it brings that block's details up in full screen.
In the memo field of one of the transactions I pasted a hyperlink.. http://.....
Please link that link so it loads that link in the users default browser like Chrome, IE, whatever..
Thank you! :)

[2015-12-30 19:30] #633 closed, assigned to svk31

[2015-12-30 19:30] #634 closed, assigned to svk31

[2015-12-30 19:31] svk31 commented on #634
I think I stumbled upon the solution to this issue: the name of the cookie being used to track the locale had changed but only where it was being set, not where it was being retrieved. Probably it worked for most of us since we already had the old cookie set.

[2015-12-30 19:51] #626 closed, assigned to svk31

[2015-12-30 20:01] #613 closed, assigned to svk31

[2015-12-30 20:29] #628 closed, assigned to svk31

[2015-12-30 20:35] svk31 commented on #640
The Membership page only shows the cashback vesting balance which is the vesting fees from accounts you've referred/registered.

Merger vesting balances can be claimed by going to Wallet Management Console -> Lookup balances.

However, the others I'm not sure, I see xeroc for example has 3 vesting balances, I'll look into why that is and where we should put their respective claim buttons.

[2015-12-30 20:45] bitsacer opened #645 "Broken link"
Turkish  Light Wallet, on Issued Assets , Update Asset , broken link , page becomes unresponsive after clicking "Update Asset" box.

[2015-12-31 09:28] svk31 commented on #640
I've added a new page to the account page that shows and lets you claim all of your vesting balances.

[2015-12-31 09:28] #640 closed, assigned to svk31

[2015-12-31 13:45] svk31 commented on #645
could you please specify the account and asset so I can try to reproduce it?

[2015-12-31 13:59] bitsacer commented on #645
ok,  try account name: blok-zinciri , asset : ORBIT ,  the wallet's language needs to be set to turkish though..

[2015-12-31 14:11] svk31 commented on #621
He wants the stars to be hidden unless you hover over a market.

[2015-12-31 14:14] svk31 commented on #645
It's because there are sections missing from the help content files:

![image](https://cloud.githubusercontent.com/assets/6890015/12065054/e951c4c0-afd0-11e5-87f6-c1b5aa22823a.png)

I've modified the HelpContent.jsx component to not throw errors and instead log the error to the console and render nothing, that way it won't crash the entire GUI if it's missing some content.

[2015-12-31 14:14] #645 closed, assigned to nobody

[2015-12-31 14:28] #638 closed, assigned to svk31

[2015-12-31 14:31] svk31 commented on #599
I'm guessing this was either an issue with the ccedk api or related to the bug I fixed here: https://github.com/cryptonomex/graphene-ui/commit/2851cbd24db19e731ec303c41afc458b9aa97f25

Closing since I'm unable to reproduce but do let us know if it happens again. If it does, please include any errors from the console.

[2015-12-31 14:31] #599 closed, assigned to svk31

[2015-12-31 14:42] kenCode-de commented on #599
Thanx svk, I have not seen that issue for a while now so ur right it probably was a ccedk connection prob or something. Thanx again! :)

[2016-01-02 15:21] jonnybitcoin commented on #576
Is there any way the less technical amongst us could try out different styles and colours of the gui by making small changes. this would be great for those looking to host there own exchanges/gateways and want to differentiate between others.

[2016-01-02 15:23] c055 commented on #576
yep .. this shouldn't be a problem at all, as each skin use its own .scss file ..
(just some chart styles have to get exported to these files as well)

[2016-01-02 15:25] c055 commented on #576
sry for the delay btw .. had to create a [worker proposal ](https://github.com/cassiopaia/worker-proposals-bts) before.. to be able to continue contributing to BTS related tasks directly again asap

[2016-01-02 15:30] jonnybitcoin commented on #576
great did your worker proposal get approved?

[2016-01-02 15:30] c055 commented on #576
just published before 10 secs :)

http://cryptofresh.com/workers

Proposal 1.14.28

[2016-01-02 17:09] c055 commented on #576
new proposal 1.14.28

[2016-01-03 00:03] c055 opened #648 "[Market OL] Bug(?) on display date @ recent history widget"
<img width="468" alt="bildschirmfoto 2016-01-03 um 01 01 13 1" src="https://cloud.githubusercontent.com/assets/6280810/12076680/b9c27e2a-b1b5-11e5-86bd-2b456409c1b8.png">

[2016-01-03 14:57] kenCode-de commented on #636
Sometimes the memo doesn't show at all. Closing and reopening the linux light client helps sometimes, but not all the time. Most of the time the memo is not displayed. Hard to reproduce to troubleshoot this one, sorry @svk31

[2016-01-04 04:09] theoreticalbts opened #649 "Witness UI does not update when vote change takes effect"
A bunch of witness votes went into effect shortly after the meltdown just after midnight, Jan. 4, 2016, UTC.  Leaving the witness UI open to the table view left the "Active Witnesses" at 25 in the UI (when it had actually been reduced to 21) and the numbering had gaps, this was fixed on reloading the UI.

[2016-01-04 22:32] bytemaster opened #650 "STEALTH - Wallet Data Format"
This issue is designed to document the data the wallet will need to maintain for stealth operations

[code]

The format of stealth_confirmation is defined here:

https://github.com/cryptonomex/graphene/blob/master/libraries/chain/include/graphene/chain/protocol/confidential.hpp#L97-L121

The JavaScript API that needs to be implemented should mirror the C++ API found here:

https://github.com/crypt

[2016-01-05 13:34] kenCode-de opened #651 "Asset name length"
Unable to create asset:
MARRIOT.HOTELS.REWARDS.CARD

Is there a maxlength? and why can't they use dots to make their asset name more legible? Can this be fixed in the UI, or can we please make this a formal request for the core?

[2016-01-05 13:35] svk31 commented on #651
There's a max length of 16 characters, including dots.

[2016-01-05 16:35] kenCode-de commented on #529
I think this is the component mentioned above: https://github.com/cryptonomex/graphene-ui/blob/master/web/app/components/Utility/EquivalentValueComponent.jsx

[2016-01-06 12:43] kenCode-de opened #652 "I need a bitBTC (Smartcoin) deposit address"
In the POS systems, we allow the customer to pay with Bitcoin as well, but it will be sent to the (required) merchant's BitShares account. I love CCEDK (OPENBTC), but I would rather give preference to our own Smartcoins, bitBTC is much preferred.

The Deposit/Withdraw screen needs a gateway plug for our own DEx, even if just for that single coin right now.

This lowers our risk and dependence on C

[2016-01-06 15:52] xeroc commented on #652
In BitShares there is no such thing as an "address", only account names!

What you could do to allow people to use Bitcoin on the Bitcoin blockchain using the keys the have in the wallet, is to derive a bitcoin address from the BitShares account active key. The private key would allow access to bitcoins on the bitcoin blockchain that way as well.

What are you talking about?

What smartcoin are yo

[2016-01-06 15:56] xeroc commented on #650
I think this should be referred to in this issue:

https://github.com/cryptonomex/graphene/issues/500

[2016-01-06 15:58] kenCode-de commented on #652
I'm sorry but I do not think you understood any of what I am asking for. Can one of the core devs maybe read into this too? Thank you for your understanding xeroc.

[2016-01-06 16:05] valzav commented on #652
@kenCode-de OPENBTC is IOU, not smartcoin.
If you want to add your own tab to Deposit/Withdraw and have your own BTC IOU there, just implement it as react component talking to your gateway backend and submit a pull request.

[2016-01-06 16:11] kenCode-de commented on #652
All bitcoin accepted at the POS  should go straight to bitBTC.
Not OPENBTC.
To accomplish that, we need to generate a btc address, see what  i mean?

[2016-01-06 16:13] kenCode-de commented on #652
If somebody wants to send me bitcoin, i would like to send them a btc public address that maps/routes their bitcoin to bitBTC in my bitshares account.

[2016-01-06 16:15] dnotestein commented on #652
The problem is that no one is yet offering bitBTC for BTC. It's something BlockTrades plans to do in a little bit, once we have a pricing engine established for it.

[2016-01-06 16:17] kenCode-de commented on #652
Well these POS systems will definitely bring the needed volume to the bitBTC smartcoin.

[2016-01-06 16:20] kenCode-de commented on #652
I want to attract the bitcoin community to our POS as well, and the map i mentioned above might just do the trick, no? If not, how do we accomplish this?

[2016-01-06 17:34] #636 closed, assigned to svk31

[2016-01-06 17:49] svk31 commented on #636
Most likely your display issues are due to the wallet being locked: the wallet must be unlocked in order to decode memos. I'll see about adding an indication that the transfer has a memo attached but an unlock is needed to see it.

[2016-01-06 17:56] kenCode-de commented on #636
yep, that's exactly what it was. you have to click to a different screen to see the change, but that was it exactly. interesting. thanx again @svk31 :)

[2016-01-06 18:26] svk31 commented on #648
Is this still happening for you? Cause I can't reproduce it.

[2016-01-06 18:27] svk31 commented on #624
I've looked into this and it appears to be an issue with the decoding. Reassigning to @jcalfee

[2016-01-06 21:46] c055 commented on #648
yea

[2016-01-07 14:27] jonnybitcoin opened #656 "no link to the hosted gui from this github page"
on this github page there is no website or description. Surely it should be
www.bitshares.org/wallet

[2016-01-07 17:08] abitmore commented on #652
Like CCEDK (acts as a bridge, or in your word a map/route) who can convert BTC (of bitcoin network) to OPENBTC (of bitshares network) for you, if you want to convert BTC paid by a customer to bitBTC to a merchant, you need another bridge as @dnotestein mentioned above. The bitshares network itself can't do it without a 3rd party or some side-chain technology. However it seems that nobody is provid

[2016-01-07 17:46] kenCode-de commented on #652
I just used the Blocktrades bridge for the first time today, worked great! I used mycelium to send some bitcoin to the provided btc address and it put my bitcoin right into my bitshares (BTS) balance. frign awesome :)  Merchants are going to love that feature since they will no longer have to think about btc volatility.

Next is bitBTC... can you please email me, or add me to your newsletter or so

[2016-01-07 17:49] kenCode-de commented on #652
By the way, Bitcoin to BTS is nice, but what about Bitcoin to EUR? or USD? CNY? etc etc
BTS and BTC both might seem a bit risky for some, so I think shifting right into a market-pegged-to-fiat would be ideal.

[2016-01-07 18:38] dnotestein commented on #652
Sure, I'll let you know as soon as we've implemented support for bitBTC, bitEUR, bitUSD, etc. We supported all of these in the past for BitShares 1.0 and we just need to overcome some technical hurdles to support them again on BitShares 2.0. It shouldn't take too long; it's on our roadmap for immediately after we get our liquidity bots running.

[2016-01-07 18:57] kenCode-de commented on #652
btsbots? or another market maker? this is awesome.

please do @dnotestein MUCH appreciated. all of our wallets will use Blocktrades then.

[2016-01-07 18:57] #652 closed, assigned to nobody

[2016-01-07 21:53] theoreticalbts opened #658 "Fill operations contain no information about market fees"
This is a repost of https://github.com/cryptonomex/graphene/issues/464

As shown in the screenshot attached to that ticket, fill operations should show fees, but don't.  Me and @svk31 both thought the backend wasn't recording the fees, but it's actually recorded in the code and the JSON -- it just needs to be displayed.

Note the screenshot is a month old, if the problem's been fixed already, feel

[2016-01-09 16:34] kenCode-de opened #659 "Can we make the UIA name longer than 16 characters please"
The Smartcoins POS systems allow the merchant to automatically offer their rewards with each customer purchase. In the POS settings screen though, there are so many UIA's listed in there already, it would be nice if the merchant's UIA were easier to find, and more explanatory. This way when the customer looks in their mobile wallet, they will see that merchants UIA as a nice little reminder and th

[2016-01-10 16:44] abitmore opened #660 "active key/owner key of collateral-holder account doesn't show in GUI, unable to vote"

[2016-01-10 18:53] dnotestein opened #661 "Locked wallet memo remains after wallet unlocked"
The message "Unlock your wallet in order to see this memo" isn't replaced by the memo text after you unlock the wallet (until you leave the page and come back).

[2016-01-10 19:04] dnotestein opened #662 "Cursor moves improperly when inserting characters in edit box"
When you type a character into the middle of a text string in an edit box (e.g. in the amount field of the transfer form), it moves the cursor to the end of the edit box. This is extremely annoying.

[2016-01-10 19:25] dnotestein opened #663 "Inconsistent password after password change"
I changed the password of an account while I had two tabs open to that account (in the same browser). The old page still uses the old password for locking and unlocking the account. I'm also wondering if it's possible that the old password could be inadvertently saved back to the browser cache by the page that still uses the old password.

[2016-01-10 22:36] bitsacer opened #664 "Orders not showing on Light Wallet"
Order book not showing all orders on Light wallet. See BTS:BRICS for an example.

[2016-01-11 14:07] wmbutler commented on #577
@cassiopaia any progress on this?

[2016-01-11 14:17] wmbutler commented on #576
@cassiopaia nice, looks like you are going to get it!

[2016-01-11 14:26] c055 commented on #577
nope .. i've to wait till my worker is approved or not .. i can't contribute voluntary or per equity basis anymore .. sry!

[2016-01-13 03:49] roadscape opened #667 "Can't "Borrow" prediction-market assets for which there are no price feeds"
It works via CLI but not GUI.

From https://bitsharestalk.org/index.php/topic,20987.0.html:

To reproduce:
- go to https://bitshares.openledger.info/#/market/REPGENSIXTEEN_BTS
- click "Borrow" button
- receive message "No valid feeds for REPGENSIXTEEN"

[2016-01-13 18:01] #667 closed, assigned to nobody

[2016-01-13 18:03] svk31 commented on #659
This is not a GUI issue, you should raise this issue in the graphene repo as it's a blockchain restriction.

[2016-01-13 18:03] #659 closed, assigned to nobody

[2016-01-13 18:03] #651 closed, assigned to nobody

[2016-01-13 18:04] svk31 commented on #656
@valzav I think that's a good idea but I can't seem to find a way to edit the description, could you handle it please?

[2016-01-13 18:06] valzav commented on #656
@jonnybitcoin I'm not sure CNX wants to promote www.bitshares.org/wallet, official wallet is Open Ledger

[2016-01-14 21:51] abitmore commented on #630
Some suggestions in this post: https://bitsharestalk.org/index.php/topic,20962.0.html, too long and unfinished so haven't copy&pasted here.

[2016-01-15 12:46] neura-sx opened #668 "Two identical columns for displaying fees"
The two identical columns on the /explorer/fees page are very confusing.

They only make sense when the Preferred Unit of Account is not BTS but for all new users this is not the case and when they look at those two columns they have no clue what's going on.

So I guess we need some column headers or just remove the second column if the Preferred Unit of Account is set to BTS.

![untitled](https:/

[2016-01-15 18:33] bitsacer opened #669 "Market shows different order book and history- lightwallet"
While I am trading on a pair, the screen shows different market history and order book, it gets fixed after refreshing, see on the screenshot , that is the first trade of a new asset with history and orders showing--belongs to openmuse
![screen shot 2016-01-15 at 8 18 52 pm](https://cloud.githubusercontent.com/assets/15133633/12361457/e95d1454-bbc6-11e5-8b68-e4a005a9a151.jpg)

[2016-01-15 18:55] bitsacer opened #670 "My own buy/sell orders matching each other ?"
Newly created asset , submitted sell order than buy order . My intention was to leave orders open and try something else but they match each other is that normal ?

[2016-01-17 09:42] #632 closed, assigned to svk31

[2016-01-17 14:30] pureland opened #671 "cannot change the language"
cannot change the language
version  BitShares 2.0.160106  cannot change the languiage

[2016-01-18 09:03] svk31 commented on #670
If the order prices matched then yes that would be normal. Do you have some more details please?

[2016-01-18 09:38] bitsacer commented on #670
thats been resolved by creating a spread as much as a satoshi .

[2016-01-18 12:19] netixen opened #674 "Refferal code field in account creation lacks input validation."
The ui doesn't warn the user if what he entered is a valid refferal code.
A user can make the mistake of typing an account name. Either checking or showing how a valid code looks would be helpful.

[2016-01-18 12:24] ghost opened #675 "Light Wallet 2.0.160106 does not play well with boost-1.60.0-1-x86_64"
error:

[code]

Fix: downgrade to boost-1.59.0-5-x86_64

[2016-01-18 16:18] xeroc commented on #674
This should be part of the definition of "rich memos" .. so that we can have arbitrary content and still know what to verify against which rules ..

[2016-01-18 16:20] valzav commented on #674
I will remove referral code input - it's not supported by the faucet yet and I don't have time to finish it.

[2016-01-18 19:32] valzav opened #676 ""Missing Active Authority" permissions issue when accounts are not ordered by id in op object"

[2016-01-18 19:33] #676 closed, assigned to valzav

[2016-01-19 07:39] netixen commented on #674
Don't urls like https://bitshares.openledger.info/?r=<account name>#/ work?

[2016-01-19 15:10] valzav commented on #674
@netixen they work. Referral codes are not related to them.

[2016-01-19 19:34] svk31 commented on #668
After xeroc's recent changes there were 4 columns, I felt that was too much so I've reduced it to two again, but I only kept the "equivalent value" ones.

cf458c5cfe9eecec9523ec76377cc876b0f72bc7

[2016-01-19 19:34] #668 closed, assigned to nobody

[2016-01-19 19:46] svk31 commented on #658
I guess the reason I missed this is that it's not very logical that the fee is not subtracted from what you see in the 'receives' field, especially since it doesn't work that way anywhere else (normal transfers for example).

I'll add some logic to subtract the fee.

[2016-01-19 19:52] #658 closed, assigned to svk31

[2016-01-20 17:19] jcalfee commented on #624
@valzav is deploying this fix to the testnet

[2016-01-20 19:46] #624 closed, assigned to jcalfee

[2016-01-20 20:21] valzav commented on #216
Not of high priority, closing for now

[2016-01-20 20:21] #216 closed, assigned to valzav

[2016-01-21 19:27] kenCode-de opened #678 "Send button stays disabled"
Linux light client, current version: 2.0.160120.

I click on an account now in the Overview list, the i click on the TRansfer tab at the top, and the from field keeps defaulting to a different account. So, if I go in that field and re-type the account i want to send from, the fee field at the bottom disappears and the send button stays disabled. I have no way to send funds from my old delegate.ken

[2016-01-21 19:30] valzav commented on #678
I'll take a look. We are planning new release tomorrow, I'll include a fix.

[2016-01-21 19:32] kenCode-de opened #679 "UN-follow does not work quite right"
I imported the wif as per the instructions:
http://cryptofresh.com/u/announce

I sent a couple of 1 BTS tests as you can see there on CF.

In my wallet though it automatically makes me Follow 2 accounts:
twitter.puppies
announce

I have no need to follow those 2 accounts. I unfollow them, close my wallet and open my wallet and then those 2 accounts reappear as Followed accounts. bug?

[2016-01-21 22:06] valzav commented on #679
very strange, it shouldn't follow any accounts automatically

[2016-01-21 22:27] abitmore opened #680 "Reopen #638 (issue about enforce wss API servers from secure domains)"
Reopen #638
Some API servers setup by community members added in #666, but 3 of them start with "ws://" but not "wss://", it doesn't work if enforce "wss://" on these servers.

By the way, although both "wss://bitshares.dacplay.org:8089" and "wss://bitshares.dacplay.org:8089/ws" work on my computer, is it better to add "/ws" at the end of every API server?

[2016-01-21 23:42] roadscape commented on #679
Those 2 accounts share the same memo key.. so it seems the wallet "follows" all accounts which you have a key for?

[2016-01-22 06:41] kenCode-de commented on #678
I am now running the latest v...121, the from field is fixed.

the fee field at the bottom is still gone though, and the send button stays disabled. I have no way to send funds from my old delegate.kencode account to my kencode account. Both accounts reside in the same wallet.

[2016-01-22 14:25] valzav commented on #678
Is anybody else experiencing missing fee issue?

[2016-01-22 14:25] valzav commented on #678
@kenCode-de, fee won't be shown if your account's balance is zero, make sure you have funds.

[2016-01-22 14:39] bitsacer opened #682 "BitShares 2.0.160121 - Fiat withdraw screen on Light Wallet - no navigation"
On the light-wallet navigation buttons missing on OpenLedger's withdraw screen

[2016-01-22 14:47] kenCode-de opened #683 "Fiat deposits and withdrawals - Links are confusing"
Running latest v...121 light client
Just FYI, I have never used OpenLedger, but I do have a CCEDK.com account.

In Overview, click an account, click deposit/withdraw, click ccedk, click "Click here to register for deposits". This loads up an external browser window which looks a little shady. Can't I just enter my CCEDK login info here with the hash and 2FA info? I'd rather not have to photocopy m

[2016-01-22 14:53] kenCode-de commented on #678
Well, the funds are there. I claimed them from vesting:
http://cryptofresh.com/b/2862177

The funds show in my BTS balance too:
http://cryptofresh.com/u/delegate.kencode

The wallet won't let me send those BTS to anyone though, the Send button remains disabled.

[2016-01-22 15:29] valzav commented on #682
I don't see any issues, please post some screenshot

[2016-01-22 15:56] svk31 commented on #678
I found the fee field bug but can't reproduce the send button staying disabled.

[2016-01-22 16:00] svk31 commented on #680
No idea about the /ws, but we shouldn't show insecure api servers imo so I've removed them.

[2016-01-22 16:00] #680 closed, assigned to nobody

[2016-01-22 17:50] bitsacer commented on #682
deposit link opens a tab on the browser, its the withdraw link that opens on the light wallet and there is no way to navigate back .

![screen shot 2016-01-22 at 7 38 19 pm](https://cloud.githubusercontent.com/assets/15133633/12518433/45a1497c-c141-11e5-8a9c-74c59fed613e.jpg)

[2016-01-22 18:52] AlexChien commented on #680
The correct api to use should be wss://bitshares.dacplay.org/ws wss://bitshares.dacplay.org/ws , this will give you secure api as well as load balance benefit.  The end point you mentioned are still accessible only for backward compatible purpose because they were announced at earlier days.

[2016-01-22 22:14] btswolf opened #685 "switch to vertical and back to horizontal breaks view"
switch to vertical and back to horizontal breaks view
![GitHub Logo](https://i.imgur.com/VT17nWu.png)

[2016-01-22 22:30] btswolf opened #686 "add asset description on mouseover"
Display asset information when moving the mouse over the asset name.
There should be a quicklink to the corresponding asset page too.
![Github Logo](https://i.imgur.com/5V9MXSK.png)

[2016-01-22 22:50] btswolf opened #687 "hide/burn Assets"
add a option to hide/filter and/or burn unwanted assets from the balances menu.

[2016-01-23 07:42] testzcrypto opened #688 "Delete connection from settings"
Today possible to add new connection but impossible to delete, it's required if for example user add wrong connection string.

[2016-01-23 07:53] svk31 commented on #688
Works fine for me so some more details on how to reproduce would be nice. Which browser and OS for starters?

[2016-01-23 07:58] testzcrypto commented on #688
Opps, yes, if I change connection when I get "-" button, but if I get for settings first time "-" invisible even I have more than one connection defined, checked at Chrome and Firefox:
https://cdn.pbrd.co/images/10fzCYAP.png

[2016-01-23 08:00] svk31 commented on #671
Light wallet or hosted wallet? For me openledger at least works fine.

[2016-01-23 08:03] svk31 commented on #675
I don't think this belongs here, if you feel an action is needed you should probably repost this issue in https://github.com/cryptonomex/graphene

[2016-01-23 08:03] #675 closed, assigned to nobody

[2016-01-23 08:03] #670 closed, assigned to nobody

[2016-01-23 08:08] #669 closed, assigned to nobody

[2016-01-23 08:10] svk31 commented on #688
The GUI does not allow you to remove the default connection (openledger in this case), can you try one of the others? Or try adding one then removing it.

[2016-01-23 08:11] svk31 commented on #648
Closing this since we've had no other reports of it and I can't reproduce it.

[2016-01-23 08:11] #648 closed, assigned to nobody

[2016-01-23 08:14] testzcrypto commented on #688
No, it's possible to remove the default connection, remove one of non default connection when you get "-" at default connection, remove default connection:
https://cdn.pbrd.co/images/10guASIm.png
https://cdn.pbrd.co/images/10gB8t8c.png

[2016-01-23 08:16] testzcrypto commented on #688
Probably it's interface issue, after refresh, all connection removed this way gets back.
Maybe better it "-" button will be always visible but grayed out for default connection?

[2016-01-23 11:43] kenCode-de commented on #678
Found it!
- clicked on my delegate.kencode account in overview
- click on transfer tab
- from delegate.kencode to kencode (send button is still disabled)
- 1310bts balance that i can send, so i clicked on that link.
- send button still disabled
- i changed the amount to send to just 2bts (the send button lit up!)
- i clicked the available balance link again, it changed my 2bts entry to 1310bts
- i

[2016-01-24 13:50] #415 closed, assigned to nobody

[2016-01-25 13:53] kenCode-de opened #691 "the new ccedk fiat thing is very confusing"
deposit/withdraw screen, click ccedk tab.

this text is displayed 3 times:
Click here to register for deposits

this text is displayed 3 times too:
Click here to register for withdrawls

VERY confusing.
Worse yet, both of the "here" hyperlinks appear to load the same form, but one is in my external browser and the other keeps you in the wallet with no way to cancel and go Back (button).

This scre